{
  "openapi": "3.1.0",
  "info": {
    "title": "data-engine API",
    "version": "1.0.0",
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Proprietary"
    },
    "description": "Runtime-backed OpenAPI surface for labeling and eval operations. Only routes\ndispatched by the current server are published for generated clients.\nOne operationId per endpoint, deterministic names, explicit replay contracts, and operation envelopes.\nJSON request bodies are route-capped before read; body-bearing methods require exactly one ASCII-decimal\nContent-Length, while ambiguous framing and every Transfer-Encoding are rejected with connection close.\nNew artifact and pipeline canonical envelopes are capped at 16 MiB.\nLabeling jobs and pipelines have aggregate monotonic deadlines, persistent resource rows have project-scoped\nlive-state caps, and expert resolutions atomically create accepted human labels under an exact replay key.\n"
  },
  "servers": [
    {
      "url": "https://api.data-engine.tempera.dev",
      "description": "default public endpoint"
    },
    {
      "url": "http://127.0.0.1:8090",
      "description": "local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "operationId": "health.get",
        "x-tempera-audience": null,
        "x-tempera-required-scope": null,
        "summary": "Health check",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "operationId": "mcp.jsonrpc",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": null,
        "summary": "MCP JSON-RPC 2.0 endpoint projecting the REST operations as tools",
        "description": "Stateless JSON-RPC 2.0 endpoint (initialize, ping, tools/list, tools/call). Tools are projected from the REST operations; a tools/call dispatches through the same bearer auth (static or central introspection, audience data-engine) and route code path as REST. Notifications (requests without an id) are acknowledged with 202 and no body; non-POST methods return 405 with Allow: POST. Tool application failures are JSON-RPC results with isError true and the canonical REST error envelope in structuredContent. structuredContent is authoritative; text content is a bounded summary rather than a duplicate payload. JSON-RPC error is reserved for parse, protocol, parameter, and dispatch failures. The server negotiates MCP protocol version 2025-06-18. Every request after initialize must send MCP-Protocol-Version: 2025-06-18. Browser requests with Origin are accepted only when the exact origin appears in DATA_ENGINE_MCP_ALLOWED_ORIGINS; non-browser clients may omit Origin. The global wire ceiling is 17 MiB. Control methods are capped at 4 KiB, initialize and read-tool calls at 64 KiB, and write tools at the REST route body limit plus a 16 KiB envelope allowance.",
        "parameters": [
          {
            "name": "MCP-Protocol-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2025-06-18"
              ]
            },
            "description": "Required on every non-initialize request after version negotiation; initialize omits it and declares protocolVersion in params."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "JSON request body; rejected before read when Content-Length exceeds 17 MiB or its smaller method/tool limit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response (result or error object)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                }
              }
            }
          },
          "202": {
            "description": "Notification accepted (no body)"
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "description": "Method not allowed (only POST is supported)"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        }
      }
    },
    "/v1/{parent}/use-cases": {
      "get": {
        "operationId": "projects.useCases.list",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "List MVP data products and pipeline templates",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "200": {
            "description": "Use-case templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UseCaseListResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/use-cases/{useCaseId}": {
      "get": {
        "operationId": "projects.useCases.get",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "Get one MVP use-case template",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/UseCaseId"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Use-case template",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UseCase"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/artifacts:ingest": {
      "post": {
        "operationId": "projects.artifacts.ingest",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:write",
        "summary": "Ingest one or many artifacts",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/RequestIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "JSON request body; rejected before read when Content-Length exceeds 17 MiB.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ArtifactIngestRequest"
                  },
                  {
                    "$ref": "#/components/schemas/RemiMemoryFeedbackIngestRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Async operation started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          },
          "202": {
            "description": "Operation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/DataLoss"
          }
        }
      }
    },
    "/v1/{parent}/web:ingest": {
      "post": {
        "operationId": "projects.web.ingest",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:write",
        "summary": "Fetch, parse, and ingest a public HTTP/HTTPS page",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/RequestIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "JSON request body; rejected before read when Content-Length exceeds 17 MiB.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebIngestRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Web ingest operation started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          },
          "202": {
            "description": "Web ingest operation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "504": {
            "$ref": "#/components/responses/DeadlineExceeded"
          },
          "500": {
            "$ref": "#/components/responses/DataLoss"
          }
        }
      }
    },
    "/v1/{parent}/campaigns": {
      "post": {
        "operationId": "projects.campaigns.create",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:write",
        "summary": "Create a data campaign with rubric, budget, target accuracy, and skill tags",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/RequestIdParam"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "JSON request body; rejected before read when Content-Length exceeds 64 KiB.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreateRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        }
      },
      "get": {
        "operationId": "projects.campaigns.list",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "List data campaigns",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "$ref": "#/components/parameters/PageTokenParam"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "200": {
            "description": "Campaign list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignListResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/campaigns/{campaign_id}:transition": {
      "post": {
        "operationId": "projects.campaigns.transition",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:write",
        "summary": "Pause, resume, or permanently close campaign job admission",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/RequestIdParam"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "JSON request body; rejected before read when Content-Length exceeds 64 KiB.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignTransitionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Immutable receipt for the committed lifecycle transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignTransition"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/campaigns/{campaign_id}/reviewer-qualification": {
      "get": {
        "operationId": "projects.reviewerQualifications.get",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "review:resolve",
        "summary": "Get the authenticated reviewer's campaign qualification",
        "description": "Returns only the caller's project-scoped pseudonymous explicit-gold history and campaign eligibility. Blind probe results are deliberately excluded so before/after queries cannot reveal a hidden probe outcome.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "Reviewer qualification under the immutable campaign policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewerQualification"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/pipelines:run-use-case": {
      "post": {
        "operationId": "projects.pipelines.runUseCase",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "eval:run",
        "summary": "Run a complete MVP use-case pipeline",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/RequestIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "JSON request body; rejected before read when Content-Length exceeds 17 MiB.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UseCaseRunRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Pipeline result with campaign, artifacts, labels, bundle, and metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UseCaseRunResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "504": {
            "$ref": "#/components/responses/DeadlineExceeded"
          },
          "500": {
            "$ref": "#/components/responses/DataLoss"
          }
        }
      }
    },
    "/v1/{parent}/expert-tasks": {
      "get": {
        "operationId": "projects.expertTasks.list",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "List human residual review tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "$ref": "#/components/parameters/PageTokenParam"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "OPEN",
                "RESOLVED"
              ]
            },
            "description": "Restrict the queue to actionable or completed tasks."
          },
          {
            "name": "campaign_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 4096
            },
            "description": "Restrict tasks to one exact campaign resource name."
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "200": {
            "description": "Expert residual queue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpertTaskListResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/review-qualification-tasks": {
      "post": {
        "operationId": "projects.reviewQualificationTasks.create",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "review:gold:manage",
        "summary": "Clone a real review task into an isolated HMAC-scored qualification task",
        "description": "Requires review:gold:manage. The expected label is write-only and is retained only as a keyed HMAC under the private reviewer key. The clone preserves the source artifact, campaign, rubric, and task family but receives an isolated label cohort that no job or product references.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Bounded gold-management request; expected_label is never returned.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewQualificationTaskCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sanitized qualification task receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewQualificationTask"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/expert-tasks/{expert_task_id}:resolve": {
      "post": {
        "operationId": "projects.expertTasks.resolve",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "review:resolve",
        "summary": "Resolve, abstain, flag, or adjudicate one human residual",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/ExpertTaskId"
          },
          {
            "$ref": "#/components/parameters/RequestIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The idempotency key binds one exact normalized decision to one expert task.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpertTaskResolveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resolved task and its recorded resolve, abstain, flag, or adjudication observation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpertTaskResolution"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/expert-tasks/{expert_task_id}:claim": {
      "post": {
        "operationId": "projects.expertTaskAssignments.claim",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "review:resolve",
        "summary": "Atomically claim one open expert task with an exclusive renewable lease",
        "description": "Returns retryable 503 UNAVAILABLE while assignment lifecycle writes are disabled in enforce-only rollback mode; existing leases remain authoritative.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/ExpertTaskId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpertTaskAssignmentLeaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Active exclusive assignment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpertTaskAssignmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/v1/{parent}/expert-tasks/{expert_task_id}:renew": {
      "post": {
        "operationId": "projects.expertTaskAssignments.renew",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "review:resolve",
        "summary": "Renew the authenticated reviewer's active task lease",
        "description": "Returns retryable 503 UNAVAILABLE while assignment lifecycle writes are disabled in enforce-only rollback mode; existing leases remain authoritative.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/ExpertTaskId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpertTaskAssignmentLeaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Renewed active assignment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpertTaskAssignmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/v1/{parent}/expert-tasks/{expert_task_id}:release": {
      "post": {
        "operationId": "projects.expertTaskAssignments.release",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "review:resolve",
        "summary": "Release the authenticated reviewer's active task lease for reassignment",
        "description": "Returns retryable 503 UNAVAILABLE while assignment lifecycle writes are disabled in enforce-only rollback mode; existing leases remain authoritative.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/ExpertTaskId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpertTaskAssignmentReleaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Released assignment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpertTaskAssignmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/v1/{parent}/expert-tasks/{expert_task_id}:save-draft": {
      "post": {
        "operationId": "projects.expertTaskAssignments.saveDraft",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "review:resolve",
        "summary": "Autosave a version-checked draft under the active reviewer lease",
        "description": "Returns retryable 503 UNAVAILABLE while assignment lifecycle writes are disabled in enforce-only rollback mode; existing leases remain authoritative.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/ExpertTaskId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpertTaskDraftSaveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assignment carrying the persisted draft and incremented version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpertTaskAssignmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/v1/{parent}/review-operations": {
      "get": {
        "operationId": "projects.reviewOperations.get",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "review:resolve",
        "summary": "Get project-scoped human-review operations and quality measures",
        "description": "Returns queue and SLA observations, bounded-window throughput, task-family-specific exact agreement with Wilson 95% intervals, pseudonymous reviewer calibration against consensus or adjudicated finals, rubric-version drift, and declared campaign budget. These observational measures never mutate or promote a review decision, and actual reviewer cost is explicitly unavailable until authoritative cost receipts exist. Quality aggregation fails closed above 50,000 accepted resolved task rows and all response dimensions are explicitly bounded.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "name": "window_seconds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 300,
              "maximum": 2592000,
              "default": 86400
            },
            "description": "Bounded lookback window for throughput counters."
          },
          {
            "name": "sla_target_seconds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 300,
              "maximum": 2592000,
              "default": 86400
            },
            "description": "Observational queue-age threshold. This does not create or replace a durable campaign SLA policy."
          }
        ],
        "responses": {
          "200": {
            "description": "Project-scoped review operations snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewOperationsSnapshot"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/metrics": {
      "get": {
        "operationId": "projects.metrics.get",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "Get data-engine usage and quality metrics for a project",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Project metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metrics"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/label-quality": {
      "get": {
        "operationId": "projects.labelQuality.get",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "Get the label quality report for a project",
        "description": "Per-verifier stats (label counts, mean confidence, accepted rate), cross-verifier disagreements for artifacts whose labels differ (capped at 50), the needs_expert backlog, and the overall auto_resolution_rate (consistent with the project metrics).",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Label quality report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelQualityReport"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/ecosystem/readiness": {
      "get": {
        "operationId": "projects.ecosystem.readiness.get",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "Get public-site and ecosystem readiness for one project",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Project readiness",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EcosystemReadiness"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/artifacts": {
      "get": {
        "operationId": "projects.artifacts.list",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "List artifacts",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "$ref": "#/components/parameters/PageTokenParam"
          },
          {
            "$ref": "#/components/parameters/ViewQuery"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "200": {
            "description": "Paginated artifact list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtifactListResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/DataLoss"
          }
        }
      }
    },
    "/v1/{parent}/artifacts/{artifactId}": {
      "get": {
        "operationId": "projects.artifacts.get",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "Get an artifact",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/ArtifactId"
          },
          {
            "$ref": "#/components/parameters/ViewQuery"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "200": {
            "description": "Verified artifact summary by default, or full artifact for view=FULL",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ArtifactSummary"
                    },
                    {
                      "$ref": "#/components/schemas/Artifact"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/DataLoss"
          }
        }
      }
    },
    "/v1/{parent}/artifacts/{artifactId}/labels": {
      "get": {
        "operationId": "projects.artifacts.labels.list",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "List labels for an artifact",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/ArtifactId"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "$ref": "#/components/parameters/PageTokenParam"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "200": {
            "description": "Labels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelListResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/DataLoss"
          }
        }
      }
    },
    "/v1/{parent}/datasets:profile": {
      "post": {
        "operationId": "projects.datasets.profile",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:write",
        "summary": "Profile dataset quality before export",
        "description": "Deterministic quality profile over the whole project or an explicit artifact_ids subset: counts by artifact type and source, duplicate raw_hash groups, label coverage, and confidence/decision/label-value distributions computed over the latest label per artifact.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/RequestIdParam"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetProfileRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Dataset quality profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetProfile"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/jobs": {
      "post": {
        "operationId": "projects.jobs.create",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "eval:run",
        "summary": "Create a labeling job",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/RequestIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "JSON request body; rejected before read when Content-Length exceeds 512 KiB. New campaign jobs require ACTIVE. Completed exact idempotency retries are returned before the lifecycle gate when a campaign is paused or closed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobCreateRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "202": {
            "description": "Job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/DataLoss"
          }
        }
      }
    },
    "/v1/{parent}/jobs/{jobId}": {
      "get": {
        "operationId": "projects.jobs.get",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "Get a job",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/jobs/{jobId}/results": {
      "get": {
        "operationId": "projects.jobs.results.list",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "List deterministic results for a job",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "200": {
            "description": "Job results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelListResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/products/{productId}": {
      "get": {
        "operationId": "projects.products.get",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "Get product",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/ProductId"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/DataLoss"
          }
        }
      }
    },
    "/v1/{parent}/products/{productId}:validate": {
      "post": {
        "operationId": "projects.products.validate",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:write",
        "summary": "Validate an emitted product bundle",
        "description": "Referential-integrity and hygiene check for a bundle. Missing or out-of-project artifacts/labels and a missing/unparseable manifest are errors; duplicate raw_hash groups within the bundle and included needs_expert labels are warnings.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/ProductId"
          },
          {
            "$ref": "#/components/parameters/RequestIdParam"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Validation report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductValidationReport"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/products:check-leakage": {
      "post": {
        "operationId": "projects.products.checkLeakage",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:write",
        "summary": "Check raw_hash leakage between two product bundles",
        "description": "Train/eval split hygiene: computes the raw_hash overlap between exactly two bundles, including overlap ratios relative to each bundle and the overlapping hashes (capped at 50).",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/RequestIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductLeakageRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Leakage report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductLeakageReport"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/products/{productId}/manifest": {
      "get": {
        "operationId": "projects.products.manifest.get",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "Get an integrity-checked eval product manifest",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/ProductId"
          }
        ],
        "responses": {
          "200": {
            "description": "Bounded remotely consumable product manifest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductManifest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/ProductNotReady"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/DataLoss"
          }
        }
      }
    },
    "/v1/{parent}/training-releases:admit": {
      "post": {
        "operationId": "projects.trainingReleases.admit",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "training:publish",
        "summary": "Admit an exact product generation for model training",
        "description": "Requires the dedicated training:publish scope. READY eval publication alone is insufficient: admission revalidates integrity and live review state, requires explicit model_training consent on every resolved human review, and binds a different READY heldout product with zero raw-hash overlap. Exact retries revalidate the captured generations.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/RequestIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "JSON request body; rejected before read when Content-Length exceeds 16 KiB.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrainingReleaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Active training release",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingRelease"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/TrainingReleasePrecondition"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/DataLoss"
          }
        }
      }
    },
    "/v1/{parent}/training-releases/{releaseId}": {
      "get": {
        "operationId": "projects.trainingReleases.get",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "training:publish",
        "summary": "Revalidate and get a training release",
        "description": "Requires the dedicated training:publish scope. Revalidates both exact product generations and durably returns STALE if review, consent, integrity, leakage, or generation state no longer authorizes training.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "name": "releaseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revalidated training release state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingRelease"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/products/{productId}:derive": {
      "post": {
        "operationId": "projects.products.derive",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "eval:run",
        "summary": "Derive a post-training bundle (SFT or preference) from a READY product",
        "description": "Read-only, deterministic derivation from the integrity-checked product manifest. The train/val split is content-addressed (hash of each artifact's raw bytes), so identical content always lands in the same split across products and replays. sft emits one record per accepted item with the authoritative label as the completion; preference emits chosen/rejected pairs from expert overrides and disagreeing ensemble minority votes. Requires quality_status READY; bounded keyset pages.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/ProductId"
          },
          {
            "$ref": "#/components/parameters/RequestIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductDeriveRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "One bounded page of derived post-training records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDeriveResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/ProductNotReady"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/DataLoss"
          }
        }
      }
    },
    "/v1/{parent}/products:emit-eval": {
      "post": {
        "operationId": "projects.products.emitEval",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "eval:run",
        "summary": "Emit eval bundle",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "JSON request body; rejected before read when Content-Length exceeds 512 KiB.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductEmitRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "202": {
            "description": "Emit started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "409": {
            "$ref": "#/components/responses/ProductPrecondition"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/DataLoss"
          }
        }
      }
    },
    "/v1/{parent}/sources:extract": {
      "post": {
        "operationId": "projects.sources.extract",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:write",
        "summary": "Extract from a source connector (s3, snowflake, salesforce) into artifacts",
        "description": "Pulls objects/records from a configured source connector and (by default) ingests them as content-addressed artifacts. Text S3 objects ingest raw; binary S3 objects are base64-encoded into raw_body with an encoding marker; structured rows (snowflake, salesforce) ingest as JSON row batches of 100 with row-count metadata. Fails closed with 412 FAILED_PRECONDITION when the connector's env config is absent.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/RequestIdParam"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceExtractRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Extraction result with per-item status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceExtractResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "412": {
            "$ref": "#/components/responses/FailedPrecondition"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/v1/{parent}/connectors": {
      "get": {
        "operationId": "projects.connectors.list",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "List source connectors with configured/unconfigured state",
        "description": "Reports each source connector (s3, snowflake, salesforce) as configured or unconfigured booleans plus non-secret config (region, endpoint host, api version). Secret values are never echoed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "$ref": "#/components/parameters/PageTokenParam"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Connectors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorListResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/tools": {
      "post": {
        "operationId": "projects.tools.create",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:write",
        "summary": "Create or version-bump a stored custom tool",
        "description": "The tool forge write surface. Identical re-creates are idempotent; a changed definition for an existing name creates a new monotonic version with every previous version retained. Definitions are capped at 64 KiB canonical JSON and 256 tools per project. Stored tools are advertised dynamically on the MCP catalog as custom.<project>.<name>.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/RequestIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomToolCreateRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Stored custom tool (current version)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomTool"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "operationId": "projects.tools.list",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "List stored custom tools with usage stats",
        "description": "Lists every stored tool for the project, including invocation_count/last_invoked_at/error_count so an operator agent can prune stale tools.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Custom tools",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomToolListResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/tools/{toolName}": {
      "get": {
        "operationId": "projects.tools.get",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "Get a stored custom tool (definition + stats)",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/ToolName"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Custom tool",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomTool"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "operationId": "projects.tools.delete",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:write",
        "summary": "Hard-delete a stored custom tool",
        "description": "Deletes the tool row and every retained version; the deletion is recorded in the custom tool audit log with the final usage stats.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/ToolName"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Deletion receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomToolDeletion"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/tools/{toolName}:invoke": {
      "post": {
        "operationId": "projects.tools.invoke",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:write",
        "summary": "Invoke a stored custom tool",
        "description": "deterministic_wasm tools execute only in the cradle sandbox (empty policy, no egress) and record program_sha256 plus the sandbox inputs_digest; when DATA_ENGINE_CRADLE_URL is unset the invoke fails closed with 412 FAILED_PRECONDITION. llm_prompt tools render the stored template with the caller arguments (no secret interpolation) and run the NVIDIA client (offline dry-run yields determinism \"heuristic\").",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "$ref": "#/components/parameters/ToolName"
          },
          {
            "$ref": "#/components/parameters/RequestIdParam"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomToolInvokeRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "200": {
            "description": "Invocation result with content-addressed provenance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomToolInvocation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/FailedPrecondition"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/v1/{parent}/evidenceRecords": {
      "post": {
        "operationId": "projects.evidenceRecords.create",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "eval:run",
        "summary": "Create an immutable shared evidence record",
        "description": "Creates a domain-neutral record by canonical content hash. Source and receipt artifacts must already exist in the same project. VERIFIED claims require at least one retained VERIFIER_RECEIPT artifact. Creation requires the eval scope rather than ordinary dataset write authority.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvidenceRecordCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Immutable evidence record",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvidenceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "operationId": "projects.evidenceRecords.list",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "List immutable shared evidence records",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 4096
            }
          },
          {
            "name": "domain",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One bounded evidence-record page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvidenceRecordListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/evidenceRecords/{evidenceRecordId}": {
      "get": {
        "operationId": "projects.evidenceRecords.get",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "Get one immutable shared evidence record",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "name": "evidenceRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PlatformDigest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Immutable evidence record",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvidenceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/episodes": {
      "post": {
        "operationId": "projects.episodes.create",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "eval:run",
        "summary": "Create an immutable shared episode",
        "description": "Creates an episode by canonical content hash. Its context evidence and any verifier receipt artifacts must already exist in the same project; PASS results require a retained VERIFIER_RECEIPT artifact. Creation requires the eval scope rather than ordinary dataset write authority.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EpisodeCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Immutable episode",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Episode"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "operationId": "projects.episodes.list",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "List immutable shared episodes",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 4096
            }
          },
          {
            "name": "domain",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One bounded episode page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/episodes/{episodeId}": {
      "get": {
        "operationId": "projects.episodes.get",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "Get one immutable shared episode",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "name": "episodeId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PlatformDigest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Immutable episode",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Episode"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/researchRetrieval:query": {
      "post": {
        "operationId": "query_research_retrieval",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "Retrieve candidates for an exact canonical typed obligation",
        "description": "Read-only structured query over one project's immutable catalog snapshot. The content hash is recomputed using tempera.math-ast-c14n/v1 before any catalog metadata is returned. A result is a retrieval candidate, not a proof or an invocation authorization.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResearchRetrievalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deterministically ranked immutable candidates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResearchRetrievalResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/researchCatalogEntries": {
      "post": {
        "operationId": "projects.researchCatalogEntries.create",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:write",
        "summary": "Create an immutable executable research catalog entry",
        "description": "Creates by canonical content hash. An exact retry returns the same resource; entries cannot be mutated or deleted through this API.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResearchCatalogEntryCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Immutable catalog entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResearchCatalogEntry"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "operationId": "projects.researchCatalogEntries.list",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "List immutable executable research catalog entries",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One bounded catalog page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResearchCatalogEntryListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/{parent}/researchCatalogEntries/{entryId}": {
      "get": {
        "operationId": "projects.researchCatalogEntries.get",
        "x-tempera-audience": "data-engine",
        "x-tempera-required-scope": "dataset:read",
        "summary": "Get one immutable executable research catalog entry",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParentParam"
          },
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Immutable catalog entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResearchCatalogEntry"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidArgument"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT or opaque API key",
        "description": "Central Tempera bearer token. Resource servers validate hosted access tokens or API keys through the control-plane introspection endpoint; local smoke tests may use DATA_ENGINE_API_TOKEN."
      }
    },
    "parameters": {
      "ParentParam": {
        "name": "parent",
        "in": "path",
        "required": true,
        "x-tempera-resource-pattern": "projects/*",
        "schema": {
          "type": "string",
          "pattern": "^projects/[a-z](?:[a-z0-9-]{0,61}[a-z0-9])?$",
          "minLength": 10,
          "maxLength": 72
        },
        "description": "Resource parent in the form projects/{project}"
      },
      "ArtifactId": {
        "name": "artifactId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "JobId": {
        "name": "jobId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "LabelId": {
        "name": "labelId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "VerifierId": {
        "name": "verifierId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "EvalId": {
        "name": "evalId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "RunId": {
        "name": "runId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ProductId": {
        "name": "productId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ConnectorId": {
        "name": "connectorId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ToolName": {
        "name": "toolName",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[a-z][a-z0-9_]{0,63}$"
        },
        "description": "Stored custom tool name (snake_case, unique per project)"
      },
      "OperationId": {
        "name": "operationId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "UseCaseId": {
        "name": "useCaseId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ExpertTaskId": {
        "name": "expert_task_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256
        }
      },
      "CampaignId": {
        "name": "campaign_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256
        }
      },
      "IfMatchHeader": {
        "name": "If-Match",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Required for PATCH and archive operations with mutable state changes"
      },
      "RequestIdParam": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Reserved caller trace hint; success responses do not currently echo it"
      },
      "IdempotencyKeyHeader": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Campaign create/transition replay key. It must match a body idempotency_key when both are sent; transition requests still require the body field."
      },
      "FilterQuery": {
        "name": "filter",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Key:value filter expression"
      },
      "PageSizeParam": {
        "name": "page_size",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000,
          "default": 50
        }
      },
      "PageTokenParam": {
        "name": "page_token",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 4096
        }
      },
      "OrderByParam": {
        "name": "order_by",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "default": "create_time desc"
        }
      },
      "ViewQuery": {
        "name": "view",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "BASIC",
            "FULL"
          ],
          "default": "BASIC"
        },
        "description": "Response expansion level"
      }
    },
    "responses": {
      "Unauthenticated": {
        "description": "Missing or invalid bearer token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InvalidArgument": {
        "description": "Invalid argument",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Authenticated but not authorized (audience or scope)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Immutable identity conflict; ALREADY_EXISTS is non-retryable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ProductNotReady": {
        "description": "Product publication is incomplete; FAILED_PRECONDITION is retryable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ProductPrecondition": {
        "description": "Product publication is retryably incomplete or human-data reuse policy failed non-retryably",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TrainingReleasePrecondition": {
        "description": "Training release idempotency conflict, stale generation, or policy failure; non-retryable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "DataLoss": {
        "description": "Committed artifact raw bytes failed integrity verification; non-retryable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "Declared JSON request body exceeds its route or tool pre-read limit (17 MiB global maximum)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "FailedPrecondition": {
        "description": "Precondition failed (for example, a source connector's env config is absent)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unavailable": {
        "description": "Retryable service or write-path unavailability; inspect the error message before retrying",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Capacity or live-state quota error; inspect retryable before retrying",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "DeadlineExceeded": {
        "description": "Retryable end-to-end receiver deadline exhaustion",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Timestamp": {
        "type": "string",
        "format": "date-time"
      },
      "ETag": {
        "type": "string"
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorBody"
          }
        }
      },
      "ErrorBody": {
        "type": "object",
        "required": [
          "code",
          "message",
          "status",
          "details",
          "request_id",
          "retryable"
        ],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "INVALID_ARGUMENT",
              "FAILED_PRECONDITION",
              "NOT_FOUND",
              "ALREADY_EXISTS",
              "UNAUTHENTICATED",
              "FORBIDDEN",
              "ABORTED",
              "OUT_OF_RANGE",
              "RESOURCE_EXHAUSTED",
              "DEADLINE_EXCEEDED",
              "UNAVAILABLE",
              "DATA_LOSS",
              "INTERNAL"
            ]
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "request_id": {
            "type": "string"
          },
          "retryable": {
            "type": "boolean"
          },
          "retry_info": {
            "type": "object",
            "properties": {
              "retry_delay": {
                "type": "string"
              }
            }
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "PlatformDigest": {
        "type": "string",
        "pattern": "^[0-9a-f]{64}$"
      },
      "PlatformArtifactRefs": {
        "type": "array",
[...]
