{
  "openapi": "3.1.0",
  "info": {
    "title": "Tempera Payments API",
    "version": "0.1.0",
    "description": "A noncustodial payment-intent API. Atomic amounts are base-10 integer strings; decimal and floating-point money values are invalid. This contract is the producer source for tempera-sdk integration."
  },
  "servers": [
    {
      "url": "https://payments.tempera.dev"
    }
  ],
  "security": [],
  "x-tempera-protocol-routes": [
    "/healthz",
    "/v1/webhooks/stripe/callback"
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "getPaymentsHealth",
        "summary": "Report that the process is reachable",
        "description": "A transport liveness probe. It performs no authorization, reads no tenant state, and proves nothing about durable storage or provider availability.",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is reachable",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "const": "ok"
                }
              }
            }
          }
        }
      }
    },
    "/v1/paymentIntents": {
      "post": {
        "operationId": "createPaymentIntent",
        "summary": "Create a canonical payment intent",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "security": [
          {
            "oauth2": [
              "payments:intents:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentIntent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntent"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}": {
      "get": {
        "operationId": "getPaymentIntent",
        "summary": "Read the canonical payment-intent projection",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:read",
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:intents:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical current projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/receipt": {
      "get": {
        "operationId": "getPaymentSettlementReceipt",
        "summary": "Read and cryptographically re-verify the canonical settlement receipt",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:receipts:read",
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:receipts:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verified signed settlement receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedSettlementReceipt"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/stripeCheckout": {
      "post": {
        "operationId": "createStripeCheckout",
        "summary": "Create an idempotent hosted Stripe Checkout session for a fiat payment intent",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:intents:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStripeCheckout"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeCheckout"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeCheckout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/cardSession": {
      "post": {
        "operationId": "createCardSession",
        "summary": "Create a hosted/tokenizing card session with the selected configured acquirer",
        "description": "Routing occurs before provider tokenization. Tempera never accepts PAN or CVV in this API.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:intents:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardCheckout"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Provider-hosted card session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardSession"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardSession"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/merchants/workspace": {
      "get": {
        "operationId": "getMerchantWorkspace",
        "summary": "Recover the centrally authenticated workspace and optional merchant",
        "description": "Uses the current Auth Hub organization claim. No caller-supplied tenant identifier or public mobile configuration chooses the returned workspace.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:read",
        "security": [
          {
            "oauth2": [
              "payments:merchants:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated workspace and current merchant, if created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantWorkspace"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/merchants": {
      "get": {
        "operationId": "getWorkspaceMerchant",
        "summary": "Read the merchant onboarding projection for one workspace",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:read",
        "security": [
          {
            "oauth2": [
              "payments:merchants:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current merchant eligibility projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createMerchant",
        "summary": "Create the single US/USD merchant record for a workspace",
        "description": "Creates merchant onboarding state only. It does not prove incorporation, payment acceptance, or payout eligibility.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:write",
        "security": [
          {
            "oauth2": [
              "payments:merchants:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMerchant"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Merchant created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/merchants/{merchantId}": {
      "get": {
        "operationId": "getMerchant",
        "summary": "Read a merchant onboarding projection",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:read",
        "x-tempera-resource-pattern": {
          "merchantId": "merchants/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:merchants:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current merchant eligibility projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/merchants/{merchantId}/refresh": {
      "post": {
        "operationId": "refreshMerchantEligibility",
        "summary": "Retrieve and store a fresh merchant eligibility observation",
        "description": "A provider observation is current only while its age is strictly less than 300 seconds. Refresh clears the prior eligibility projection before the provider call; a generation compare-and-set prevents a late response from an older refresh from overwriting a newer generation. An unavailable or malformed provider observation must not be treated as eligibility. A 429 carries the ErrorInfo reason MERCHANT_PROVIDER_RATE_LIMITED: the hourly per-merchant provider budget is exhausted.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:read",
        "x-tempera-resource-pattern": {
          "merchantId": "merchants/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:merchants:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantTenant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fresh merchant eligibility projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/merchants/{merchantId}/onboarding": {
      "post": {
        "operationId": "createMerchantOnboardingLink",
        "summary": "Create a short-lived Stripe-hosted merchant onboarding link",
        "description": "The URL is a bearer capability and must never be cached. If Stripe reports an expired link, request a new link with a new Idempotency-Key; do not replay an expired key. A 429 carries the ErrorInfo reason MERCHANT_PROVIDER_RATE_LIMITED: the hourly per-merchant provider budget is exhausted.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:write",
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "merchantId": "merchants/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:merchants:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantTenant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Short-lived private onboarding link",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "const": "no-referrer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantOnboardingLink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/webhooks/stripe/callback": {
      "post": {
        "operationId": "receiveStripeWebhook",
        "summary": "Verify and durably deduplicate a Stripe webhook using its raw body",
        "description": "A Stripe-authored protocol receiver, not a Tempera resource method. It is authenticated by the Stripe-Signature HMAC over the exact raw body, never by a Tempera bearer token, and its request body is Stripe's own event envelope.",
        "security": [],
        "parameters": [
          {
            "name": "Stripe-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Durably accepted or duplicate"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.tempera.dev/oauth/authorize",
            "tokenUrl": "https://api.tempera.dev/oauth/token",
            "scopes": {
              "payments:intents:write": "Create payment intents",
              "payments:intents:read": "Read payment intents",
              "payments:receipts:read": "Read verified payment settlement receipts",
              "payments:merchants:read": "Read merchant onboarding eligibility",
              "payments:merchants:write": "Create merchant onboarding records and links"
            }
          }
        }
      }
    },
    "schemas": {
      "Status": {
        "type": "object",
        "description": "The google.rpc.Status error envelope required of every Tempera API (AIP-193).",
        "required": [
          "error"
        ],
        "additionalProperties": false,
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "status",
              "message"
            ],
            "additionalProperties": false,
            "properties": {
              "code": {
                "type": "integer",
                "description": "The HTTP status code, repeated in the body so the envelope is self-describing."
              },
              "status": {
                "type": "string",
                "description": "The canonical google.rpc.Code name, for example INVALID_ARGUMENT.",
                "enum": [
                  "CANCELLED",
                  "UNKNOWN",
                  "INVALID_ARGUMENT",
                  "DEADLINE_EXCEEDED",
                  "NOT_FOUND",
                  "ALREADY_EXISTS",
                  "PERMISSION_DENIED",
                  "UNAUTHENTICATED",
                  "RESOURCE_EXHAUSTED",
                  "FAILED_PRECONDITION",
                  "ABORTED",
                  "OUT_OF_RANGE",
                  "UNIMPLEMENTED",
                  "INTERNAL",
                  "UNAVAILABLE",
                  "DATA_LOSS"
                ]
              },
              "message": {
                "type": "string",
                "description": "A developer-facing description that is safe to log and safe to show."
              },
              "details": {
                "type": "array",
                "description": "Structured error details. Present but empty when there are none.",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "requestId": {
                "type": "string",
                "description": "The server-assigned request identifier, mirrored from the x-request-id response header."
              }
            }
          }
        }
      },
      "AtomicAmount": {
        "type": "string",
        "pattern": "^[0-9]+$",
        "description": "Non-negative atomic integer. Never a decimal."
      },
      "AssetId": {
        "type": "object",
        "required": [
          "network",
          "reference",
          "decimals"
        ],
        "properties": {
          "network": {
            "type": "string",
            "examples": [
              "eip155:8453"
            ]
          },
          "reference": {
            "type": "string",
            "examples": [
              "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
            ]
          },
          "decimals": {
            "type": "integer",
            "minimum": 0,
            "maximum": 255
          }
        }
      },
      "CreatePaymentIntent": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "tenantId",
          "merchantId",
          "riskSubjectId",
          "recipient",
          "asset",
          "amount",
          "expiresInSeconds"
        ],
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "merchantId": {
            "type": "string"
          },
          "riskSubjectId": {
            "type": "string",
            "description": "Pre-registered Tempera Risk subject ID for deterministic authorization."
          },
          "recipient": {
            "type": "string"
          },
          "asset": {
            "$ref": "#/components/schemas/AssetId"
          },
          "amount": {
            "$ref": "#/components/schemas/AtomicAmount"
          },
          "expiresInSeconds": {
            "type": "integer",
            "minimum": 1,
            "maximum": 86400
          }
        }
      },
      "PaymentIntent": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "tenantId",
          "merchantId",
          "recipient",
          "asset",
          "amount",
          "policyDecisionId",
          "status",
          "version",
          "expiresAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tenantId": {
            "type": "string"
          },
          "merchantId": {
            "type": "string"
          },
          "recipient": {
            "type": "string"
          },
          "asset": {
            "$ref": "#/components/schemas/AssetId"
          },
          "amount": {
            "$ref": "#/components/schemas/AtomicAmount"
          },
          "policyDecisionId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "CREATED",
              "RISK_PENDING",
              "AUTHORIZED",
              "PREPARED",
              "SIGNED",
              "BROADCAST",
              "OBSERVED",
              "CONFIRMED",
              "FINALIZED",
              "DENIED",
              "HELD",
              "REVIEW_REQUIRED",
              "FAILED",
              "EXPIRED",
              "REVERSED",
              "REFUND_PENDING",
              "REFUNDED"
            ]
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateStripeCheckout": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "tenantId",
          "currency",
          "productName",
          "successUrl",
          "cancelUrl"
        ],
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Za-z]{3}$",
            "examples": [
              "usd"
            ]
          },
          "productName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "successUrl": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://"
          },
          "cancelUrl": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://"
          }
        }
      },
      "StripeCheckout": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "stripeSessionId",
          "checkoutUrl"
        ],
        "properties": {
          "stripeSessionId": {
            "type": "string"
          },
          "checkoutUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "CardAcquirer": {
        "type": "string",
        "enum": [
          "adyen",
          "checkout_com"
        ]
      },
      "CardBillingAddress": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "addressLine1",
          "city",
          "zip",
          "country"
        ],
        "properties": {
          "addressLine1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "state": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "zip": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Za-z]{2}$"
          }
        }
      },
      "CreateCardCheckout": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "tenantId",
          "acquirer",
          "successUrl",
          "failureUrl",
          "billing"
        ],
        "properties": {
          "tenantId": {
            "type": "string",
            "minLength": 1
          },
          "acquirer": {
            "$ref": "#/components/schemas/CardAcquirer"
          },
          "successUrl": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://"
          },
          "failureUrl": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://"
          },
          "billing": {
            "$ref": "#/components/schemas/CardBillingAddress"
          }
        }
      },
      "CardSession": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "acquirer",
          "providerSessionId",
          "clientPayload"
        ],
        "properties": {
          "acquirer": {
            "$ref": "#/components/schemas/CardAcquirer"
          },
          "providerSessionId": {
            "type": "string",
            "minLength": 1
          },
          "clientPayload": {
            "type": "object",
            "description": "Provider-issued payload passed to the selected provider's hosted/tokenizing frontend component. It contains no caller-supplied PAN/CVV fields."
          }
        }
      },
      "MerchantCategory": {
        "type": "string",
        "enum": [
          "physical_goods",
          "offline_services"
        ],
        "description": "The limited initial merchant categories; this is not a general marketplace taxonomy."
      },
      "CreateMerchant": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "tenantId",
          "country",
          "currency",
          "category"
        ],
        "properties": {
          "tenantId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "country": {
            "type": "string",
            "const": "US"
          },
          "currency": {
            "type": "string",
            "const": "usd"
          },
          "category": {
            "$ref": "#/components/schemas/MerchantCategory"
          }
        }
      },
      "MerchantTenant": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "tenantId"
        ],
        "properties": {
          "tenantId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        }
      },
      "MerchantWorkspace": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "tenantId",
          "merchant"
        ],
        "properties": {
          "tenantId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "merchant": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Merchant"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "MerchantNextAction": {
        "type": "string",
        "enum": [
          "start_onboarding",
          "continue_onboarding",
          "refresh_requirements",
          "wait_for_provider",
          "contact_support",
          "ready"
        ]
      },
      "Merchant": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "tenantId",
          "country",
          "currency",
          "category",
          "workspaceReady",
          "paymentsEnabled",
          "payoutsEnabled",
          "actionRequired",
          "requirementsCurrent",
          "currentlyDue",
          "pastDue",
          "pendingVerification",
          "disabledReason",
          "nextAction",
          "providerObservedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tenantId": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "const": "US"
          },
          "currency": {
            "type": "string",
            "const": "usd"
          },
          "category": {
            "$ref": "#/components/schemas/MerchantCategory"
          },
          "workspaceReady": {
            "type": "boolean"
          },
          "paymentsEnabled": {
            "type": "boolean",
            "description": "False unless a current provider observation demonstrates enabled card payments."
          },
          "payoutsEnabled": {
            "type": "boolean",
            "description": "False unless a current provider observation demonstrates enabled payouts."
          },
          "actionRequired": {
            "type": "boolean"
          },
          "requirementsCurrent": {
            "type": "boolean",
            "description": "False when the provider observation is absent, stale, future-dated, or has age greater than or equal to 300 seconds."
          },
          "currentlyDue": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pastDue": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pendingVerification": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "disabledReason": {
            "type": [
              "string",
              "null"
            ]
          },
          "nextAction": {
            "$ref": "#/components/schemas/MerchantNextAction"
          },
          "providerObservedAt": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Provider observation Unix timestamp in seconds, or null when no provider observation exists."
          }
        }
      },
      "MerchantOnboardingLink": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "merchantId",
          "url",
          "expiresAt"
        ],
        "properties": {
          "merchantId": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://connect\\.stripe\\.com/",
            "description": "Short-lived bearer URL. Do not persist, cache, or log it."
          },
          "expiresAt": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp in seconds."
          }
        }
      },
      "SettlementEvidence": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schemaVersion",
          "receiptId",
          "paymentIntentId",
          "requestHash",
          "policyDecisionId",
          "asset",
          "amount",
          "recipient",
          "transactionId",
          "finality",
          "observedAt",
          "keyId",
          "signature"
        ],
        "properties": {
          "schemaVersion": {
            "type": "integer",
            "minimum": 1
          },
          "receiptId": {
            "type": "string",
            "format": "uuid"
          },
          "paymentIntentId": {
            "type": "string",
            "format": "uuid"
          },
          "requestHash": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "policyDecisionId": {
            "type": "string",
            "minLength": 1
          },
          "asset": {
            "$ref": "#/components/schemas/AssetId"
          },
          "amount": {
            "$ref": "#/components/schemas/AtomicAmount"
          },
          "recipient": {
            "type": "string",
            "minLength": 1
          },
          "transactionId": {
            "type": "string",
            "minLength": 1
          },
          "finality": {
            "type": "string",
            "minLength": 1
          },
          "observedAt": {
            "type": "string",
            "format": "date-time"
          },
          "keyId": {
            "type": "string",
            "minLength": 1
          },
          "signature": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "SignedSettlementReceipt": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "evidence",
          "algorithm",
          "publicKeyHex"
        ],
        "properties": {
          "evidence": {
            "$ref": "#/components/schemas/SettlementEvidence"
          },
          "algorithm": {
            "type": "string",
            "enum": [
              "Ed25519"
            ]
          },
          "publicKeyHex": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          }
        }
      }
    },
    "responses": {
      "Error": {
        "description": "A google.rpc.Status error envelope.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Status"
            }
          }
        }
      }
    }
  }
}
