{
  "openapi": "3.1.0",
  "info": {
    "title": "Tempera Payments API",
    "version": "0.1.0",
    "description": "A noncustodial payment-intent API. Atomic amounts are base-10 integer strings; decimal and floating-point money values are invalid. This contract is the producer source for tempera-sdk integration."
  },
  "servers": [
    {
      "url": "https://payments.tempera.dev"
    }
  ],
  "security": [],
  "x-tempera-protocol-routes": [
    "/healthz",
    "/v1/webhooks/stripe/callback",
    "/v1/webhooks/paypal/callback"
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "getPaymentsHealth",
        "summary": "Report that the process is reachable",
        "description": "A transport liveness probe. It performs no authorization, reads no tenant state, and proves nothing about durable storage or provider availability.",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is reachable",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "const": "ok"
                }
              }
            }
          }
        }
      }
    },
    "/v1/paymentIntents": {
      "post": {
        "operationId": "createPaymentIntent",
        "summary": "Create a canonical payment intent",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "security": [
          {
            "oauth2": [
              "payments:intents:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentIntent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntent"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "listPaymentIntents",
        "summary": "List a tenant's payment intents by consumer reference, status, or creation window",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:read",
        "security": [
          {
            "oauth2": [
              "payments:intents:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "referenceKind",
            "in": "query",
            "required": false,
            "description": "Return only intents whose reference has this kind.",
            "schema": {
              "$ref": "#/components/schemas/ReferenceKind"
            }
          },
          {
            "name": "referenceId",
            "in": "query",
            "required": false,
            "description": "Return only intents whose reference carries this consumer-owned identifier. Usable on its own, so a consumer that owns one identifier space does not have to send referenceKind.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          },
          {
            "name": "referenceConsumer",
            "in": "query",
            "required": false,
            "description": "Return only intents bound to this registered consumer service, for example `auth-hub`.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64,
              "pattern": "^[a-z0-9]([a-z0-9-]*[a-z0-9])?$"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Return only intents whose current projection has this lifecycle status.",
            "schema": {
              "type": "string",
              "enum": [
                "CREATED",
                "RISK_PENDING",
                "AUTHORIZED",
                "PREPARED",
                "SIGNED",
                "BROADCAST",
                "OBSERVED",
                "CONFIRMED",
                "FINALIZED",
                "DENIED",
                "HELD",
                "REVIEW_REQUIRED",
                "FAILED",
                "EXPIRED",
                "REVERSED",
                "REFUND_PENDING",
                "REFUNDED"
              ]
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "required": false,
            "description": "Inclusive RFC3339 lower bound on intent creation time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "required": false,
            "description": "Exclusive RFC3339 upper bound on intent creation time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Maximum intents to return. Out-of-range values are rejected rather than clamped.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "`nextPageToken` from the previous page, replayed with the identical filters. A token presented with a different filter set is rejected with reason `INVALID_PAGE_TOKEN`.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of the tenant's matching payment intents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentIntentsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}": {
      "get": {
        "operationId": "getPaymentIntent",
        "summary": "Read the canonical payment-intent projection",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:read",
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:intents:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical current projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/receipt": {
      "get": {
        "operationId": "getPaymentSettlementReceipt",
        "summary": "Read and cryptographically re-verify the canonical settlement receipt",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:receipts:read",
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:receipts:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verified signed settlement receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedSettlementReceipt"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/stripeCheckout": {
      "post": {
        "operationId": "createStripeCheckout",
        "summary": "Create an idempotent hosted Stripe Checkout session for a fiat payment intent",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:intents:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStripeCheckout"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeCheckout"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeCheckout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/cardSession": {
      "post": {
        "operationId": "createCardSession",
        "summary": "Create a hosted/tokenizing card session with the selected configured acquirer",
        "description": "Routing occurs before provider tokenization. Tempera never accepts PAN or CVV in this API.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:intents:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardCheckout"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Provider-hosted card session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardSession"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardSession"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/merchants/workspace": {
      "get": {
        "operationId": "getMerchantWorkspace",
        "summary": "Recover the centrally authenticated workspace and optional merchant",
        "description": "Uses the current Auth Hub organization claim. No caller-supplied tenant identifier or public mobile configuration chooses the returned workspace.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:read",
        "security": [
          {
            "oauth2": [
              "payments:merchants:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated workspace and current merchant, if created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantWorkspace"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/merchants": {
      "get": {
        "operationId": "getWorkspaceMerchant",
        "summary": "Read the merchant onboarding projection for one workspace",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:read",
        "security": [
          {
            "oauth2": [
              "payments:merchants:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current merchant eligibility projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createMerchant",
        "summary": "Create the single US/USD merchant record for a workspace",
        "description": "Creates merchant onboarding state only. It does not prove incorporation, payment acceptance, or payout eligibility.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:write",
        "security": [
          {
            "oauth2": [
              "payments:merchants:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMerchant"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Merchant created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/merchants/{merchantId}": {
      "get": {
        "operationId": "getMerchant",
        "summary": "Read a merchant onboarding projection",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:read",
        "x-tempera-resource-pattern": {
          "merchantId": "merchants/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:merchants:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current merchant eligibility projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/merchants/{merchantId}/refresh": {
      "post": {
        "operationId": "refreshMerchantEligibility",
        "summary": "Retrieve and store a fresh merchant eligibility observation",
        "description": "A provider observation is current only while its age is strictly less than 300 seconds. Refresh clears the prior eligibility projection before the provider call; a generation compare-and-set prevents a late response from an older refresh from overwriting a newer generation. An unavailable or malformed provider observation must not be treated as eligibility. A 429 carries the ErrorInfo reason MERCHANT_PROVIDER_RATE_LIMITED: the hourly per-merchant provider budget is exhausted.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:read",
        "x-tempera-resource-pattern": {
          "merchantId": "merchants/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:merchants:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantTenant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fresh merchant eligibility projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/merchants/{merchantId}/onboarding": {
      "post": {
        "operationId": "createMerchantOnboardingLink",
        "summary": "Create a short-lived Stripe-hosted merchant onboarding link",
        "description": "The URL is a bearer capability and must never be cached. If Stripe reports an expired link, request a new link with a new Idempotency-Key; do not replay an expired key. A 429 carries the ErrorInfo reason MERCHANT_PROVIDER_RATE_LIMITED: the hourly per-merchant provider budget is exhausted.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:write",
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "merchantId": "merchants/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:merchants:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantTenant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Short-lived private onboarding link",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "const": "no-referrer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantOnboardingLink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/webhooks/stripe/callback": {
      "post": {
        "operationId": "receiveStripeWebhook",
        "summary": "Verify and durably deduplicate a Stripe webhook using its raw body",
        "description": "A Stripe-authored protocol receiver, not a Tempera resource method. It is authenticated by the Stripe-Signature HMAC over the exact raw body, never by a Tempera bearer token, and its request body is Stripe's own event envelope.",
        "security": [],
        "parameters": [
          {
            "name": "Stripe-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Durably accepted or duplicate"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/refunds": {
      "post": {
        "operationId": "createRefund",
        "summary": "Refund a settled payment intent",
        "description": "Issues one refund against the original provider settlement and commits it through the same correctness kernel the refund worker uses: the refund budget is reserved before the provider is contacted, the provider Refund object is retrieved authoritatively, and only then are the compensating journal and the signed operation receipt written. Answers 200 once the refund is economically committed and 202 with a pending refund while the provider outcome is not final or could not be observed; replaying the same tenantId, payment intent, idempotencyKey, and body returns the same refund and never refunds twice.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:refunds:write",
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:refunds:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefund"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund committed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "202": {
            "description": "Refund accepted; the provider outcome is not final yet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "listRefunds",
        "summary": "List the refunds of one payment intent",
        "description": "Refunds are returned newest first, ordered by createdAt.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:refunds:read",
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:refunds:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refunds of this payment intent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRefundsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/refunds/{refundId}": {
      "get": {
        "operationId": "getRefund",
        "summary": "Read one refund",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:refunds:read",
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*",
          "refundId": "paymentIntents/*/refunds/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:refunds:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "refundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current refund projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/paypalCheckout": {
      "post": {
        "operationId": "createPayPalCheckout",
        "summary": "Create an idempotent hosted PayPal order for a fiat payment intent",
        "description": "Prepares one PayPal CAPTURE-intent order for an authorized iso4217 payment intent and returns the buyer approval URL. The order carries the Tempera payment intent id in custom_id and an idempotency-derived invoice_id, which are the bindings the settlement reconciler re-checks against PayPal's authoritative capture. Returns 503 when the PayPal rail is not configured.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:intents:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePayPalCheckout"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "PayPal order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayPalCheckout"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayPalCheckout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/webhooks/paypal/callback": {
      "post": {
        "operationId": "receivePayPalWebhook",
        "summary": "Verify and durably deduplicate a PayPal webhook using its raw body",
        "description": "A PayPal-authored protocol receiver, not a Tempera resource method. It is authenticated by PayPal's own verify-webhook-signature call over the exact raw body and the configured webhook id, never by a Tempera bearer token, and its request body is PayPal's own event envelope. The event is durable evidence and a reconciliation hint only: settlement is committed from an independently retrieved PayPal order or capture.",
        "security": [],
        "parameters": [
          {
            "name": "PayPal-Transmission-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PayPal-Transmission-Time",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PayPal-Transmission-Sig",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PayPal-Cert-Url",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PayPal-Auth-Algo",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Durably accepted or duplicate"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/webhookEndpoints": {
      "post": {
        "operationId": "createWebhookEndpoint",
        "summary": "Register a destination for signed payment events",
        "description": "Registers a URL this workspace controls as a destination for the signed `payment.settled` and `payment.refunded` events it subscribes to. The endpoint is delivered exactly the bytes that were signed, with the same `tempera-event-*` headers an internal consumer receives. A workspace may keep at most 10 active endpoints, and one URL may be active at most once.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:webhooks:write",
        "security": [
          {
            "oauth2": [
              "payments:webhooks:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookEndpoint"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook endpoint registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "listWebhookEndpoints",
        "summary": "List the webhook endpoints of one workspace",
        "description": "Returns active and disabled endpoints, newest first. A disabled endpoint is kept so its delivery history stays readable.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:webhooks:read",
        "security": [
          {
            "oauth2": [
              "payments:webhooks:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The nextPageToken of the previous page. Pages are keyset ordered newest first."
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoints of this workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhookEndpointsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/webhookEndpoints/{webhookEndpointId}": {
      "get": {
        "operationId": "getWebhookEndpoint",
        "summary": "Read one webhook endpoint",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:webhooks:read",
        "x-tempera-resource-pattern": {
          "webhookEndpointId": "webhookEndpoints/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:webhooks:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "webhookEndpointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The webhook endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhookEndpoint",
        "summary": "Stop delivering to a webhook endpoint",
        "description": "Disables the endpoint. The row is never removed, so its delivery history stays coherent, and an event already fanned out to it is dead-lettered with `ENDPOINT_DISABLED` rather than posted to a withdrawn URL.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:webhooks:write",
        "x-tempera-resource-pattern": {
          "webhookEndpointId": "webhookEndpoints/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:webhooks:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "webhookEndpointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook endpoint disabled"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/webhookEndpoints/{webhookEndpointId}/deliveries": {
      "get": {
        "operationId": "listWebhookDeliveries",
        "summary": "List delivery attempts for one webhook endpoint",
        "description": "The delivery record of each event fanned out to this endpoint, newest first, so a brand can debug its own receiver.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:webhooks:read",
        "x-tempera-resource-pattern": {
          "webhookEndpointId": "webhookEndpoints/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:webhooks:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "webhookEndpointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The nextPageToken of the previous page. Pages are keyset ordered newest first."
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery records for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhookDeliveriesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/paymentMethodCharges": {
      "post": {
        "operationId": "createPaymentMethodCharge",
        "summary": "Charge a saved payment method off-session for an authorized payment intent",
        "description": "Creates and confirms one provider charge against a payment method the intent's customer already saved, records the provider attempt, and returns. It settles nothing: the ledger journal, the signed receipt, and the `payment.settled` consumer event are produced by the same verified-webhook reconciliation path hosted checkout uses. A `requiresAction` charge needs the brand's own provider client-side authentication flow; Tempera does not perform it.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "security": [
          {
            "oauth2": [
              "payments:intents:write"
            ]
          }
        ],
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentMethodCharge"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Provider charge attempt created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodCharge"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodCharge"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/customers": {
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a customer for one workspace",
        "description": "Creates Tempera's record of the brand's shopper. It performs no provider call: the provider customer is created lazily by the first setup session. When `externalId` is present the call is idempotent on `(tenantId, externalId)` and returns 200 for an identical replay, or 409 when the stored customer differs.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:customers:write",
        "security": [
          {
            "oauth2": [
              "payments:customers:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomer"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay of an existing externalId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers of one workspace by an exact externalId or email",
        "description": "At least one of `externalId` or `email` is required and is matched exactly; this is a lookup, not a directory export.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:customers:read",
        "security": [
          {
            "oauth2": [
              "payments:customers:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 320
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Maximum customers to return. Defaults to 100, which is also the maximum.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A `nextPageToken` this API issued. Tokens are server-issued and are not caller-constructible.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/customers/{customerId}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Read one customer",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:customers:read",
        "security": [
          {
            "oauth2": [
              "payments:customers:read"
            ]
          }
        ],
        "x-tempera-resource-pattern": {
          "customerId": "customers/*"
        },
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/customers/{customerId}/setupSessions": {
      "post": {
        "operationId": "createSetupSession",
        "summary": "Create a provider-hosted session that saves a card for this customer",
        "description": "Creates or reuses this customer's provider customer, then a provider-hosted `setup` session bound to it. The shopper enters their card on the provider's page; Tempera never receives PAN or CVV. The saved payment method appears only after the verified provider webhook has been authoritatively re-read. Replays on `idempotencyKey`.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:customers:write",
        "security": [
          {
            "oauth2": [
              "payments:customers:write"
            ]
          }
        ],
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "customerId": "customers/*"
        },
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSetupSession"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Provider-hosted setup session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupSession"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupSession"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/customers/{customerId}/paymentMethods": {
      "get": {
        "operationId": "listPaymentMethods",
        "summary": "List the payment methods saved for one customer",
        "description": "Returns provider handles and the non-sensitive display fields the provider publishes. Detached methods remain listed with status `detached`.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:customers:read",
        "security": [
          {
            "oauth2": [
              "payments:customers:read"
            ]
          }
        ],
        "x-tempera-resource-pattern": {
          "customerId": "customers/*"
        },
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Maximum customers to return. Defaults to 100, which is also the maximum.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A `nextPageToken` this API issued. Tokens are server-issued and are not caller-constructible.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved payment methods",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentMethodsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/customers/{customerId}/paymentMethods/{paymentMethodId}": {
      "delete": {
        "operationId": "deletePaymentMethod",
        "summary": "Detach a saved payment method",
        "description": "Detaches the handle at the provider and records the method as `detached`. The row is never deleted, so a later charge attempt against it is refused rather than silently unrecognized. Detaching an already-detached method succeeds without calling the provider again.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:customers:write",
        "security": [
          {
            "oauth2": [
              "payments:customers:write"
            ]
          }
        ],
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "customerId": "customers/*",
          "paymentMethodId": "customers/*/paymentMethods/*"
        },
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "paymentMethodId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Detached"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.tempera.dev/oauth/authorize",
            "tokenUrl": "https://api.tempera.dev/oauth/token",
            "scopes": {
              "payments:intents:write": "Create payment intents",
              "payments:intents:read": "Read payment intents",
              "payments:receipts:read": "Read verified payment settlement receipts",
              "payments:merchants:read": "Read merchant onboarding eligibility",
              "payments:merchants:write": "Create merchant onboarding records and links",
              "payments:refunds:write": "Issue refunds against settled payment intents",
              "payments:refunds:read": "Read refunds issued against payment intents",
              "payments:webhooks:read": "Read tenant-registered webhook endpoints and their delivery history",
              "payments:webhooks:write": "Register and remove tenant webhook endpoints for signed payment events",
              "payments:customers:read": "Read customers and their saved payment methods",
              "payments:customers:write": "Create customers, save payment methods, and charge them off-session"
            }
          }
        }
      }
    },
    "schemas": {
      "Status": {
        "type": "object",
        "description": "The google.rpc.Status error envelope required of every Tempera API (AIP-193).",
        "required": [
          "error"
        ],
        "additionalProperties": false,
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "status",
              "message"
            ],
            "additionalProperties": false,
            "properties": {
              "code": {
                "type": "integer",
                "description": "The HTTP status code, repeated in the body so the envelope is self-describing."
              },
              "status": {
                "type": "string",
                "description": "The canonical google.rpc.Code name, for example INVALID_ARGUMENT.",
                "enum": [
                  "CANCELLED",
                  "UNKNOWN",
                  "INVALID_ARGUMENT",
                  "DEADLINE_EXCEEDED",
                  "NOT_FOUND",
                  "ALREADY_EXISTS",
                  "PERMISSION_DENIED",
                  "UNAUTHENTICATED",
                  "RESOURCE_EXHAUSTED",
                  "FAILED_PRECONDITION",
                  "ABORTED",
                  "OUT_OF_RANGE",
                  "UNIMPLEMENTED",
                  "INTERNAL",
                  "UNAVAILABLE",
                  "DATA_LOSS"
                ]
              },
              "message": {
                "type": "string",
                "description": "A developer-facing description that is safe to log and safe to show."
              },
              "details": {
                "type": "array",
                "description": "Structured error details. Present but empty when there are none.",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "requestId": {
                "type": "string",
                "description": "The server-assigned request identifier, mirrored from the x-request-id response header."
              }
            }
          }
        }
      },
      "AtomicAmount": {
        "type": "string",
        "pattern": "^[0-9]+$",
        "description": "Non-negative atomic integer. Never a decimal."
      },
      "AssetId": {
        "type": "object",
        "required": [
          "network",
          "reference",
          "decimals"
        ],
        "properties": {
          "network": {
            "type": "string",
            "examples": [
              "eip155:8453"
            ]
          },
          "reference": {
            "type": "string",
            "examples": [
              "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
            ]
          },
          "decimals": {
            "type": "integer",
            "minimum": 0,
            "maximum": 255
          }
        }
      },
      "ReferenceKind": {
        "type": "string",
        "enum": [
          "order",
          "creditTopUp",
          "subscriptionPeriod",
          "invoice",
          "custom"
        ],
        "description": "What the payment is for, in the consumer's vocabulary."
      },
      "PaymentReference": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "kind",
          "id"
        ],
        "description": "Optional consumer binding. It routes signed settlement and refund events back to the named consumer service and never changes the economics of the intent.",
        "properties": {
          "kind": {
            "$ref": "#/components/schemas/ReferenceKind"
          },
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^[!-~]+$",
            "description": "Consumer-owned identifier such as an order ID, a credit top-up ID, or an invoice number."
          },
          "consumer": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[a-z0-9]([a-z0-9-]*[a-z0-9])?$",
            "description": "Registered consumer service that receives signed `payment.settled` and `payment.refunded` events for this intent, for example `auth-hub`. Omitted means the event is recorded but not delivered to a service."
          }
        }
      },
      "CreatePaymentIntent": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "tenantId",
          "merchantId",
          "riskSubjectId",
          "recipient",
          "asset",
          "amount",
          "expiresInSeconds"
        ],
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "merchantId": {
            "type": "string"
          },
          "riskSubjectId": {
            "type": "string",
            "description": "Pre-registered Tempera Risk subject ID for deterministic authorization."
          },
          "recipient": {
            "type": "string"
          },
          "asset": {
            "$ref": "#/components/schemas/AssetId"
          },
          "amount": {
            "$ref": "#/components/schemas/AtomicAmount"
          },
          "expiresInSeconds": {
            "type": "integer",
            "minimum": 1,
            "maximum": 86400
          },
          "reference": {
            "$ref": "#/components/schemas/PaymentReference"
          },
          "customerId": {
            "type": "string",
            "format": "uuid",
            "description": "Customer this intent is for. It must name a customer of the same tenant and never changes the economics of the intent."
          }
        }
      },
      "PaymentIntent": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "tenantId",
          "merchantId",
          "recipient",
          "asset",
          "amount",
          "policyDecisionId",
          "status",
          "version",
          "expiresAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tenantId": {
            "type": "string"
          },
          "merchantId": {
            "type": "string"
          },
          "recipient": {
            "type": "string"
          },
          "asset": {
            "$ref": "#/components/schemas/AssetId"
          },
          "amount": {
            "$ref": "#/components/schemas/AtomicAmount"
          },
          "policyDecisionId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "CREATED",
              "RISK_PENDING",
              "AUTHORIZED",
              "PREPARED",
              "SIGNED",
              "BROADCAST",
              "OBSERVED",
              "CONFIRMED",
              "FINALIZED",
              "DENIED",
              "HELD",
              "REVIEW_REQUIRED",
              "FAILED",
              "EXPIRED",
              "REVERSED",
              "REFUND_PENDING",
              "REFUNDED"
            ]
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "reference": {
            "$ref": "#/components/schemas/PaymentReference"
          },
          "customerId": {
            "type": "string",
            "format": "uuid",
            "description": "Customer this intent is for. It must name a customer of the same tenant and never changes the economics of the intent."
          }
        }
      },
      "CreateStripeCheckout": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "tenantId",
          "currency",
          "productName",
          "successUrl",
          "cancelUrl"
        ],
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Za-z]{3}$",
            "examples": [
              "usd"
            ]
          },
          "productName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "successUrl": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://"
          },
          "cancelUrl": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://"
          }
        }
      },
      "StripeCheckout": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "stripeSessionId",
          "checkoutUrl"
        ],
        "properties": {
          "stripeSessionId": {
            "type": "string"
          },
          "checkoutUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "CardAcquirer": {
        "type": "string",
        "enum": [
          "adyen",
          "checkout_com"
        ]
      },
      "CardBillingAddress": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "addressLine1",
          "city",
          "zip",
          "country"
        ],
        "properties": {
          "addressLine1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "state": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "zip": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Za-z]{2}$"
          }
        }
      },
      "CreateCardCheckout": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "tenantId",
          "acquirer",
          "successUrl",
          "failureUrl",
          "billing"
        ],
        "properties": {
          "tenantId": {
            "type": "string",
            "minLength": 1
          },
          "acquirer": {
            "$ref": "#/components/schemas/CardAcquirer"
          },
          "successUrl": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://"
          },
          "failureUrl": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://"
          },
          "billing": {
            "$ref": "#/components/schemas/CardBillingAddress"
          }
        }
      },
      "CardSession": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "acquirer",
          "providerSessionId",
          "clientPayload"
        ],
        "properties": {
          "acquirer": {
            "$ref": "#/components/schemas/CardAcquirer"
          },
          "providerSessionId": {
            "type": "string",
            "minLength": 1
          },
          "clientPayload": {
            "type": "object",
            "description": "Provider-issued payload passed to the selected provider's hosted/tokenizing frontend component. It contains no caller-supplied PAN/CVV fields."
          }
        }
      },
      "MerchantCategory": {
        "type": "string",
        "enum": [
          "physical_goods",
          "offline_services"
        ],
        "description": "The limited initial merchant categories; this is not a general marketplace taxonomy."
      },
      "CreateMerchant": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "tenantId",
          "country",
          "currency",
          "category"
        ],
        "properties": {
          "tenantId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "country": {
            "type": "string",
            "const": "US"
          },
          "currency": {
            "type": "string",
            "const": "usd"
          },
          "category": {
            "$ref": "#/components/schemas/MerchantCategory"
          }
        }
      },
      "MerchantTenant": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "tenantId"
        ],
        "properties": {
          "tenantId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        }
      },
      "MerchantWorkspace": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "tenantId",
          "merchant"
        ],
        "properties": {
          "tenantId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "merchant": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Merchant"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "MerchantNextAction": {
        "type": "string",
        "enum": [
          "start_onboarding",
          "continue_onboarding",
          "refresh_requirements",
          "wait_for_provider",
          "contact_support",
          "ready"
        ]
      },
      "Merchant": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "tenantId",
          "country",
          "currency",
          "category",
          "workspaceReady",
          "paymentsEnabled",
          "payoutsEnabled",
          "actionRequired",
          "requirementsCurrent",
          "currentlyDue",
          "pastDue",
          "pendingVerification",
          "disabledReason",
          "nextAction",
          "providerObservedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tenantId": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "const": "US"
          },
          "currency": {
            "type": "string",
            "const": "usd"
          },
          "category": {
            "$ref": "#/components/schemas/MerchantCategory"
          },
          "workspaceReady": {
            "type": "boolean"
          },
          "paymentsEnabled": {
            "type": "boolean",
            "description": "False unless a current provider observation demonstrates enabled card payments."
          },
          "payoutsEnabled": {
            "type": "boolean",
            "description": "False unless a current provider observation demonstrates enabled payouts."
          },
          "actionRequired": {
            "type": "boolean"
          },
          "requirementsCurrent": {
            "type": "boolean",
            "description": "False when the provider observation is absent, stale, future-dated, or has age greater than or equal to 300 seconds."
          },
          "currentlyDue": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pastDue": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pendingVerification": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "disabledReason": {
            "type": [
              "string",
              "null"
            ]
          },
          "nextAction": {
            "$ref": "#/components/schemas/MerchantNextAction"
          },
          "providerObservedAt": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Provider observation Unix timestamp in seconds, or null when no provider observation exists."
          }
        }
      },
      "MerchantOnboardingLink": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "merchantId",
          "url",
          "expiresAt"
        ],
        "properties": {
          "merchantId": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://connect\\.stripe\\.com/",
            "description": "Short-lived bearer URL. Do not persist, cache, or log it."
          },
          "expiresAt": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp in seconds."
          }
        }
      },
      "SettlementEvidence": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schemaVersion",
          "receiptId",
          "paymentIntentId",
          "requestHash",
          "policyDecisionId",
          "asset",
          "amount",
          "recipient",
          "transactionId",
          "finality",
          "observedAt",
          "keyId",
          "signature"
        ],
        "properties": {
          "schemaVersion": {
            "type": "integer",
            "minimum": 1
          },
          "receiptId": {
            "type": "string",
            "format": "uuid"
          },
          "paymentIntentId": {
            "type": "string",
            "format": "uuid"
          },
          "requestHash": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "policyDecisionId": {
            "type": "string",
            "minLength": 1
          },
          "asset": {
            "$ref": "#/components/schemas/AssetId"
          },
          "amount": {
            "$ref": "#/components/schemas/AtomicAmount"
          },
          "recipient": {
            "type": "string",
            "minLength": 1
          },
          "transactionId": {
            "type": "string",
            "minLength": 1
          },
          "finality": {
            "type": "string",
            "minLength": 1
          },
          "observedAt": {
            "type": "string",
            "format": "date-time"
          },
          "keyId": {
            "type": "string",
            "minLength": 1
          },
          "signature": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "SignedSettlementReceipt": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "evidence",
          "algorithm",
          "publicKeyHex"
        ],
        "properties": {
          "evidence": {
            "$ref": "#/components/schemas/SettlementEvidence"
          },
          "algorithm": {
            "type": "string",
            "enum": [
              "Ed25519"
            ]
          },
          "publicKeyHex": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          }
        }
      },
      "ListPaymentIntentsResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "paymentIntents"
        ],
        "description": "One keyset page of payment intents, ordered by `createdAt` then `id`, both descending. That pair is a total order, so paging cannot skip or repeat an intent while other intents are being created.",
        "properties": {
          "paymentIntents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentIntent"
            }
          },
          "nextPageToken": {
            "type": "string",
            "minLength": 1,
            "description": "Opaque cursor for the next page, absent on the last page. Replay it unchanged with the identical filters."
          }
        }
      },
      "RefundReason": {
        "type": "string",
        "enum": [
          "requestedByCustomer",
          "duplicate",
          "fraudulent",
          "other"
        ],
        "description": "Caller-declared context. It never changes the economics of the refund."
      },
      "RefundStatus": {
        "type": "string",
        "enum": [
          "pending",
          "succeeded",
          "failed"
        ],
        "description": "succeeded is set only after the compensating journal and the signed operation receipt are durable. pending covers every non-final provider state, including an outcome Tempera has not observed yet."
      },
      "CreateRefund": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "tenantId",
          "idempotencyKey"
        ],
        "properties": {
          "tenantId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "idempotencyKey": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[!-~]+$"
          },
          "amount": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AtomicAmount"
              }
            ],
            "description": "Omit to refund the whole remaining refundable balance."
          },
          "reason": {
            "$ref": "#/components/schemas/RefundReason"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "maxLength": 256
            },
            "maxProperties": 20
          }
        }
      },
      "RefundReceiptEvidence": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schemaVersion",
          "receiptId",
          "operationId",
          "providerAttemptId",
          "paymentIntentId",
          "journalId",
          "requestHash",
          "policyDecisionId",
          "operationKind",
          "asset",
          "amount",
          "merchantId",
          "provider",
          "providerReference",
          "transactionId",
          "finality",
          "observedAt",
          "keyId",
          "signature"
        ],
        "properties": {
          "schemaVersion": {
            "type": "integer",
            "minimum": 1
          },
          "receiptId": {
            "type": "string",
            "format": "uuid"
          },
          "operationId": {
            "type": "string",
            "format": "uuid"
          },
          "providerAttemptId": {
            "type": "string",
            "format": "uuid"
          },
          "paymentIntentId": {
            "type": "string",
            "format": "uuid"
          },
          "journalId": {
            "type": "string",
            "format": "uuid"
          },
          "requestHash": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "policyDecisionId": {
            "type": "string"
          },
          "operationKind": {
            "type": "string",
            "const": "REFUND"
          },
          "asset": {
            "$ref": "#/components/schemas/AssetId"
          },
          "amount": {
            "$ref": "#/components/schemas/AtomicAmount"
          },
          "merchantId": {
            "type": "string",
            "minLength": 1
          },
          "provider": {
            "type": "string",
            "minLength": 1
          },
          "providerReference": {
            "type": "string",
            "minLength": 1
          },
          "transactionId": {
            "type": "string",
            "minLength": 1
          },
          "finality": {
            "type": "string",
            "minLength": 1
          },
          "observedAt": {
            "type": "string",
            "format": "date-time"
          },
          "keyId": {
            "type": "string",
            "minLength": 1
          },
          "signature": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "RefundReceipt": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "algorithm",
          "publicKeyHex",
          "evidence"
        ],
        "description": "The signed operation receipt as persisted, rendered in this API's lowerCamel field convention. The Ed25519 signature covers the canonical evidence field map, not this serialization.",
        "properties": {
          "algorithm": {
            "type": "string",
            "enum": [
              "Ed25519"
            ]
          },
          "publicKeyHex": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "evidence": {
            "$ref": "#/components/schemas/RefundReceiptEvidence"
          }
        }
      },
      "Refund": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "paymentIntentId",
          "tenantId",
          "status",
          "amount",
          "asset",
          "provider",
          "metadata",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The durable REFUND payment operation that owns this refund."
          },
          "paymentIntentId": {
            "type": "string",
            "format": "uuid"
          },
          "tenantId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/RefundStatus"
          },
          "amount": {
            "$ref": "#/components/schemas/AtomicAmount"
          },
          "asset": {
            "$ref": "#/components/schemas/AssetId"
          },
          "provider": {
            "type": "string",
            "minLength": 1
          },
          "providerReference": {
            "type": "string",
            "minLength": 1
          },
          "reason": {
            "$ref": "#/components/schemas/RefundReason"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "journalId": {
            "type": "string",
            "format": "uuid",
            "description": "Present once the compensating journal is durable."
          },
          "receipt": {
            "$ref": "#/components/schemas/RefundReceipt"
          },
          "failureCode": {
            "type": "string",
            "minLength": 1
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ListRefundsResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "refunds"
        ],
        "properties": {
          "refunds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Refund"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Pass as pageToken to read the next page. Absent on the last page."
          }
        }
      },
      "CreatePayPalCheckout": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "tenantId",
          "returnUrl",
          "cancelUrl",
          "idempotencyKey"
        ],
        "properties": {
          "tenantId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "returnUrl": {
            "type": "string",
            "format": "uri",
[...]
