{
  "openapi": "3.1.0",
  "info": {
    "title": "Tempera Payments API",
    "version": "0.1.0",
    "description": "A noncustodial payment-intent API. Atomic amounts are base-10 integer strings; decimal and floating-point money values are invalid. This contract is the producer source for tempera-sdk integration."
  },
  "servers": [
    {
      "url": "https://payments.tempera.dev"
    }
  ],
  "security": [],
  "x-tempera-protocol-routes": [
    "/healthz",
    "/readyz",
    "/v1/webhooks/stripe/callback",
    "/v1/webhooks/paypal/callback",
    "/v1/webhooks/coinbase/callback",
    "/v1/webhooks/stripe/connect/callback"
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "getPaymentsHealth",
        "summary": "Report that the process is reachable",
        "description": "A transport liveness probe. It performs no authorization, reads no tenant state, and proves nothing about durable storage or provider availability.",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is reachable",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "const": "ok"
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "operationId": "getPaymentsReadiness",
        "summary": "Report durable-storage readiness and which rails this process is configured for",
        "description": "The readiness probe. It performs a live round trip to durable storage and reports, as booleans only, which settlement rails and which signer this process was started with. It performs no authorization, reads no tenant state, and never returns a credential, a key, or a provider endpoint.",
        "security": [],
        "responses": {
          "200": {
            "description": "Durable storage is reachable and the configured posture is reported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Readiness"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents": {
      "post": {
        "operationId": "createPaymentIntent",
        "summary": "Create a canonical payment intent",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "security": [
          {
            "oauth2": [
              "payments:intents:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentIntent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntent"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "listPaymentIntents",
        "summary": "List a tenant's payment intents by consumer reference, status, or creation window",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:read",
        "security": [
          {
            "oauth2": [
              "payments:intents:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "referenceKind",
            "in": "query",
            "required": false,
            "description": "Return only intents whose reference has this kind.",
            "schema": {
              "$ref": "#/components/schemas/ReferenceKind"
            }
          },
          {
            "name": "referenceId",
            "in": "query",
            "required": false,
            "description": "Return only intents whose reference carries this consumer-owned identifier. Usable on its own, so a consumer that owns one identifier space does not have to send referenceKind.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          },
          {
            "name": "referenceConsumer",
            "in": "query",
            "required": false,
            "description": "Return only intents bound to this registered consumer service, for example `auth-hub`.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64,
              "pattern": "^[a-z0-9]([a-z0-9-]*[a-z0-9])?$"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Return only intents whose current projection has this lifecycle status.",
            "schema": {
              "type": "string",
              "enum": [
                "CREATED",
                "RISK_PENDING",
                "AUTHORIZED",
                "PREPARED",
                "SIGNED",
                "BROADCAST",
                "OBSERVED",
                "CONFIRMED",
                "FINALIZED",
                "DENIED",
                "HELD",
                "REVIEW_REQUIRED",
                "FAILED",
                "EXPIRED",
                "REVERSED",
                "REFUND_PENDING",
                "REFUNDED"
              ]
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "required": false,
            "description": "Inclusive RFC3339 lower bound on intent creation time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "required": false,
            "description": "Exclusive RFC3339 upper bound on intent creation time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Maximum intents to return. Out-of-range values are rejected rather than clamped.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "`nextPageToken` from the previous page, replayed with the identical filters. A token presented with a different filter set is rejected with reason `INVALID_PAGE_TOKEN`.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of the tenant's matching payment intents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentIntentsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}": {
      "get": {
        "operationId": "getPaymentIntent",
        "summary": "Read the canonical payment-intent projection",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:read",
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:intents:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical current projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/receipt": {
      "get": {
        "operationId": "getPaymentSettlementReceipt",
        "summary": "Read and cryptographically re-verify the canonical settlement receipt",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:receipts:read",
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:receipts:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verified signed settlement receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedSettlementReceipt"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/stripeCheckout": {
      "post": {
        "operationId": "createStripeCheckout",
        "summary": "Create an idempotent hosted Stripe Checkout session for a fiat payment intent",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:intents:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "description": "Tenant-scoped idempotency key. Required here, and required as a header rather than as a body field; the PayPal and Coinbase checkout creates take an `idempotencyKey` body field instead and ignore this header."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStripeCheckout"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeCheckout"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeCheckout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Prepares one hosted Stripe Checkout session for an authorized iso4217 payment intent whose asset reference matches `currency` case-insensitively, and returns the session id and the buyer redirect URL in `checkoutUrl`. Returns 503 when the Stripe rail is not configured.\n\n**Idempotency: the `Idempotency-Key` header (required).** This operation is the only hosted-checkout create that takes its key in a header; `createPayPalCheckout` and `createCoinbaseCheckout` take an `idempotencyKey` field in the request body instead. The difference is historical and is not going to be reconciled, because seven generated SDK clients are already built against these shapes. Neither route reads the other's placement: a body `idempotencyKey` on this route is not read, and an `Idempotency-Key` header on the PayPal or Coinbase route is ignored. In all three cases the key is tenant-scoped, an equivalent replay returns the original response with `200` instead of `201`, and a replay with a different request body is a `409`.\n\nHosted checkout surfaces are not shaped alike across rails and are not being renamed: send the buyer to `StripeCheckout.checkoutUrl`, `PayPalCheckout.approvalUrl`, or `CoinbaseCheckout.hostedUrl`."
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/cardSession": {
      "post": {
        "operationId": "createCardSession",
        "summary": "Create a hosted/tokenizing card session with the selected configured acquirer",
        "description": "Routing occurs before provider tokenization. Tempera never accepts PAN or CVV in this API.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:intents:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardCheckout"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Provider-hosted card session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardSession"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardSession"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/merchants/workspace": {
      "get": {
        "operationId": "getMerchantWorkspace",
        "summary": "Recover the centrally authenticated workspace and optional merchant",
        "description": "Uses the current Auth Hub organization claim. No caller-supplied tenant identifier or public mobile configuration chooses the returned workspace.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:read",
        "security": [
          {
            "oauth2": [
              "payments:merchants:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated workspace and current merchant, if created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantWorkspace"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/merchants": {
      "get": {
        "operationId": "getWorkspaceMerchant",
        "summary": "Read the merchant onboarding projection for one workspace",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:read",
        "security": [
          {
            "oauth2": [
              "payments:merchants:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current merchant eligibility projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createMerchant",
        "summary": "Create the single US/USD merchant record for a workspace",
        "description": "Creates merchant onboarding state only. It does not prove incorporation, payment acceptance, or payout eligibility.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:write",
        "security": [
          {
            "oauth2": [
              "payments:merchants:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMerchant"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Merchant created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/merchants/{merchantId}": {
      "get": {
        "operationId": "getMerchant",
        "summary": "Read a merchant onboarding projection",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:read",
        "x-tempera-resource-pattern": {
          "merchantId": "merchants/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:merchants:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current merchant eligibility projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/merchants/{merchantId}/refresh": {
      "post": {
        "operationId": "refreshMerchantEligibility",
        "summary": "Retrieve and store a fresh merchant eligibility observation",
        "description": "A provider observation is current only while its age is strictly less than 300 seconds. Refresh clears the prior eligibility projection before the provider call; a generation compare-and-set prevents a late response from an older refresh from overwriting a newer generation. An unavailable or malformed provider observation must not be treated as eligibility. A 429 carries the ErrorInfo reason MERCHANT_PROVIDER_RATE_LIMITED: the hourly per-merchant provider budget is exhausted.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:read",
        "x-tempera-resource-pattern": {
          "merchantId": "merchants/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:merchants:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantTenant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fresh merchant eligibility projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/merchants/{merchantId}/onboarding": {
      "post": {
        "operationId": "createMerchantOnboardingLink",
        "summary": "Create a short-lived Stripe-hosted merchant onboarding link",
        "description": "The URL is a bearer capability and must never be cached. If Stripe reports an expired link, request a new link with a new Idempotency-Key; do not replay an expired key. A 429 carries the ErrorInfo reason MERCHANT_PROVIDER_RATE_LIMITED: the hourly per-merchant provider budget is exhausted.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:write",
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "merchantId": "merchants/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:merchants:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantTenant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Short-lived private onboarding link",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "const": "no-referrer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantOnboardingLink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/webhooks/stripe/callback": {
      "post": {
        "operationId": "receiveStripeWebhook",
        "summary": "Verify and durably deduplicate a Stripe webhook using its raw body",
        "description": "A Stripe-authored protocol receiver, not a Tempera resource method. It is authenticated by the Stripe-Signature HMAC over the exact raw body, never by a Tempera bearer token, and its request body is Stripe's own event envelope.",
        "security": [],
        "parameters": [
          {
            "name": "Stripe-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Durably accepted or duplicate"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/refunds": {
      "post": {
        "operationId": "createRefund",
        "summary": "Refund a settled payment intent",
        "description": "Issues one refund against the original provider settlement and commits it through the same correctness kernel the refund worker uses: the refund budget is reserved before the provider is contacted, the provider Refund object is retrieved authoritatively, and only then are the compensating journal and the signed operation receipt written. Answers 200 once the refund is economically committed and 202 with a pending refund while the provider outcome is not final or could not be observed; replaying the same tenantId, payment intent, idempotencyKey, and body returns the same refund and never refunds twice.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:refunds:write",
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:refunds:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefund"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund committed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "202": {
            "description": "Refund accepted; the provider outcome is not final yet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "listRefunds",
        "summary": "List the refunds of one payment intent",
        "description": "Refunds are returned newest first, ordered by createdAt.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:refunds:read",
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:refunds:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refunds of this payment intent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRefundsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/refunds/{refundId}": {
      "get": {
        "operationId": "getRefund",
        "summary": "Read one refund",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:refunds:read",
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*",
          "refundId": "paymentIntents/*/refunds/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:refunds:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "refundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current refund projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/paypalCheckout": {
      "post": {
        "operationId": "createPayPalCheckout",
        "summary": "Create an idempotent hosted PayPal order for a fiat payment intent",
        "description": "Prepares one PayPal CAPTURE-intent order for an authorized iso4217 payment intent and returns the buyer approval URL. The order carries the Tempera payment intent id in custom_id and an idempotency-derived invoice_id, which are the bindings the settlement reconciler re-checks against PayPal's authoritative capture. Returns 503 when the PayPal rail is not configured.\n\n**Idempotency: the `idempotencyKey` body field (required).** This operation takes its key in the request body, not in the `Idempotency-Key` header that `createStripeCheckout` (and `createPaymentIntent`) require. The difference is historical and is not going to be reconciled, because seven generated SDK clients are already built against these shapes. An `Idempotency-Key` header sent to this route is ignored — it is neither read nor rejected, and it does not have to match the body field. In all three cases the key is tenant-scoped, an equivalent replay returns the original response with `200` instead of `201`, and a replay with a different request body is a `409`.\n\nHosted checkout surfaces are not shaped alike across rails and are not being renamed: send the buyer to `StripeCheckout.checkoutUrl`, `PayPalCheckout.approvalUrl`, or `CoinbaseCheckout.hostedUrl`.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:intents:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePayPalCheckout"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "PayPal order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayPalCheckout"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayPalCheckout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/webhooks/paypal/callback": {
      "post": {
        "operationId": "receivePayPalWebhook",
        "summary": "Verify and durably deduplicate a PayPal webhook using its raw body",
        "description": "A PayPal-authored protocol receiver, not a Tempera resource method. It is authenticated by PayPal's own verify-webhook-signature call over the exact raw body and the configured webhook id, never by a Tempera bearer token, and its request body is PayPal's own event envelope. The event is durable evidence and a reconciliation hint only: settlement is committed from an independently retrieved PayPal order or capture.",
        "security": [],
        "parameters": [
          {
            "name": "PayPal-Transmission-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PayPal-Transmission-Time",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PayPal-Transmission-Sig",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PayPal-Cert-Url",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PayPal-Auth-Algo",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Durably accepted or duplicate"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/coinbaseCheckout": {
      "post": {
        "operationId": "createCoinbaseCheckout",
        "summary": "Create an idempotent hosted Coinbase Commerce charge for a fiat payment intent",
        "description": "Prepares one fixed-price Coinbase Commerce charge for an authorized iso4217 payment intent and returns the hosted payment URL. The charge is quoted in the intent's own fiat currency and its metadata carries the Tempera payment intent id, tenant id, and an attempt-derived key, which are the bindings the settlement reconciler re-checks against Coinbase's authoritative charge. Coinbase Commerce has no provider-side request idempotency, so the durable attempt is what stops a retried create from opening a second hosted page. Returns 503 when the Coinbase rail is not configured.\n\n**Idempotency: the `idempotencyKey` body field (required).** This operation takes its key in the request body, not in the `Idempotency-Key` header that `createStripeCheckout` (and `createPaymentIntent`) require. The difference is historical and is not going to be reconciled, because seven generated SDK clients are already built against these shapes. An `Idempotency-Key` header sent to this route is ignored — it is neither read nor rejected, and it does not have to match the body field. In all three cases the key is tenant-scoped, an equivalent replay returns the original response with `200` instead of `201`, and a replay with a different request body is a `409`.\n\nHosted checkout surfaces are not shaped alike across rails and are not being renamed: send the buyer to `StripeCheckout.checkoutUrl`, `PayPalCheckout.approvalUrl`, or `CoinbaseCheckout.hostedUrl`.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:intents:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCoinbaseCheckout"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Coinbase charge created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinbaseCheckout"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinbaseCheckout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/webhooks/coinbase/callback": {
      "post": {
        "operationId": "receiveCoinbaseWebhook",
        "summary": "Verify and durably deduplicate a Coinbase Commerce webhook using its raw body",
        "description": "A Coinbase-authored protocol receiver, not a Tempera resource method. It is authenticated by the X-CC-Webhook-Signature HMAC-SHA256 over the exact raw body and the configured shared webhook secret, never by a Tempera bearer token, and its request body is Coinbase's own event envelope. The event is durable evidence and a reconciliation hint only: settlement is committed from an independently retrieved Coinbase charge, and a pending, delayed, failed, underpaid, or overpaid charge never settles.",
        "security": [],
        "parameters": [
          {
            "name": "X-CC-Webhook-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Durably accepted or duplicate"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/webhookEndpoints": {
      "post": {
        "operationId": "createWebhookEndpoint",
        "summary": "Register a destination for signed payment events",
        "description": "Registers a URL this workspace controls as a destination for the signed `payment.settled` and `payment.refunded` events it subscribes to. The endpoint is delivered exactly the bytes that were signed, with the same `tempera-event-*` headers an internal consumer receives. A workspace may keep at most 10 active endpoints, and one URL may be active at most once.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:webhooks:write",
        "security": [
          {
            "oauth2": [
              "payments:webhooks:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookEndpoint"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook endpoint registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "listWebhookEndpoints",
        "summary": "List the webhook endpoints of one workspace",
        "description": "Returns active and disabled endpoints, newest first. A disabled endpoint is kept so its delivery history stays readable.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:webhooks:read",
        "security": [
          {
            "oauth2": [
              "payments:webhooks:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The nextPageToken of the previous page. Pages are keyset ordered newest first."
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoints of this workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhookEndpointsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/webhookEndpoints/{webhookEndpointId}": {
      "get": {
        "operationId": "getWebhookEndpoint",
        "summary": "Read one webhook endpoint",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:webhooks:read",
        "x-tempera-resource-pattern": {
          "webhookEndpointId": "webhookEndpoints/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:webhooks:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "webhookEndpointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The webhook endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhookEndpoint",
        "summary": "Stop delivering to a webhook endpoint",
        "description": "Disables the endpoint. The row is never removed, so its delivery history stays coherent, and an event already fanned out to it is dead-lettered with `ENDPOINT_DISABLED` rather than posted to a withdrawn URL.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:webhooks:write",
        "x-tempera-resource-pattern": {
          "webhookEndpointId": "webhookEndpoints/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:webhooks:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "webhookEndpointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook endpoint disabled"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/webhookEndpoints/{webhookEndpointId}/deliveries": {
      "get": {
        "operationId": "listWebhookDeliveries",
        "summary": "List delivery attempts for one webhook endpoint",
        "description": "The delivery record of each event fanned out to this endpoint, newest first, so a brand can debug its own receiver.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:webhooks:read",
        "x-tempera-resource-pattern": {
          "webhookEndpointId": "webhookEndpoints/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:webhooks:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "webhookEndpointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The nextPageToken of the previous page. Pages are keyset ordered newest first."
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery records for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhookDeliveriesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/paymentMethodCharges": {
      "post": {
        "operationId": "createPaymentMethodCharge",
        "summary": "Charge a saved payment method off-session for an authorized payment intent",
        "description": "Creates and confirms one provider charge against a payment method the intent's customer already saved, records the provider attempt, and returns. It settles nothing: the ledger journal, the signed receipt, and the `payment.settled` consumer event are produced by the same verified-webhook reconciliation path hosted checkout uses. A `requiresAction` charge needs the brand's own provider client-side authentication flow; Tempera does not perform it.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "security": [
          {
            "oauth2": [
              "payments:intents:write"
            ]
          }
        ],
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentMethodCharge"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Provider charge attempt created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodCharge"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodCharge"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/customers": {
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a customer for one workspace",
        "description": "Creates Tempera's record of the brand's shopper. It performs no provider call: the provider customer is created lazily by the first setup session. When `externalId` is present the call is idempotent on `(tenantId, externalId)` and returns 200 for an identical replay, or 409 when the stored customer differs.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:customers:write",
        "security": [
          {
            "oauth2": [
              "payments:customers:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomer"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay of an existing externalId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers of one workspace by an exact externalId or email",
        "description": "At least one of `externalId` or `email` is required and is matched exactly; this is a lookup, not a directory export.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:customers:read",
        "security": [
          {
            "oauth2": [
              "payments:customers:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 320
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Maximum customers to return. Defaults to 100, which is also the maximum.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A `nextPageToken` this API issued. Tokens are server-issued and are not caller-constructible.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/customers/{customerId}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Read one customer",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:customers:read",
        "security": [
          {
            "oauth2": [
              "payments:customers:read"
            ]
          }
        ],
        "x-tempera-resource-pattern": {
          "customerId": "customers/*"
        },
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/customers/{customerId}/setupSessions": {
      "post": {
        "operationId": "createSetupSession",
        "summary": "Create a provider-hosted session that saves a card for this customer",
        "description": "Creates or reuses this customer's provider customer, then a provider-hosted `setup` session bound to it. The shopper enters their card on the provider's page; Tempera never receives PAN or CVV. The saved payment method appears only after the verified provider webhook has been authoritatively re-read. Replays on `idempotencyKey`.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:customers:write",
        "security": [
          {
            "oauth2": [
              "payments:customers:write"
            ]
          }
        ],
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "customerId": "customers/*"
        },
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSetupSession"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Provider-hosted setup session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupSession"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupSession"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/customers/{customerId}/paymentMethods": {
      "get": {
        "operationId": "listPaymentMethods",
        "summary": "List the payment methods saved for one customer",
        "description": "Returns provider handles and the non-sensitive display fields the provider publishes. Detached methods remain listed with status `detached`.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:customers:read",
        "security": [
          {
            "oauth2": [
              "payments:customers:read"
            ]
          }
        ],
        "x-tempera-resource-pattern": {
          "customerId": "customers/*"
        },
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Maximum customers to return. Defaults to 100, which is also the maximum.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A `nextPageToken` this API issued. Tokens are server-issued and are not caller-constructible.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved payment methods",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentMethodsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/customers/{customerId}/paymentMethods/{paymentMethodId}": {
      "delete": {
        "operationId": "deletePaymentMethod",
        "summary": "Detach a saved payment method",
        "description": "Detaches the handle at the provider and records the method as `detached`. The row is never deleted, so a later charge attempt against it is refused rather than silently unrecognized. Detaching an already-detached method succeeds without calling the provider again.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:customers:write",
        "security": [
          {
            "oauth2": [
              "payments:customers:write"
            ]
          }
        ],
        "x-tempera-physical-action": true,
        "x-tempera-resource-pattern": {
          "customerId": "customers/*",
          "paymentMethodId": "customers/*/paymentMethods/*"
        },
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "paymentMethodId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Detached"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/paymentIntents/{paymentIntentId}/disputes": {
      "get": {
        "operationId": "listPaymentIntentDisputes",
        "summary": "List the disputes of one payment intent",
        "description": "Returns every chargeback recorded against this payment intent, newest first. A dispute exists only after Tempera authoritatively retrieved it from the provider and bound it to this intent through its verified settlement.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:disputes:read",
        "x-tempera-resource-pattern": {
          "paymentIntentId": "paymentIntents/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:disputes:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The nextPageToken of the previous page. Pages are keyset ordered newest first."
          }
        ],
        "responses": {
          "200": {
            "description": "Disputes of this payment intent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDisputesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/disputes": {
      "get": {
        "operationId": "listDisputes",
        "summary": "List the disputes of one workspace",
        "description": "Returns this workspace's chargebacks, newest first, optionally narrowed to one status. Pages are keyset ordered so a concurrent dispute cannot make a caller skip or repeat one while walking the list.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:disputes:read",
        "security": [
          {
            "oauth2": [
              "payments:disputes:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DisputeStatus"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The nextPageToken of the previous page. Pages are keyset ordered newest first."
          }
        ],
        "responses": {
          "200": {
            "description": "Disputes of this workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDisputesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/disputes/{disputeId}": {
      "get": {
        "operationId": "getDispute",
        "summary": "Read one dispute",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:disputes:read",
        "x-tempera-resource-pattern": {
          "disputeId": "disputes/*"
        },
        "security": [
          {
            "oauth2": [
              "payments:disputes:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "disputeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current dispute projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispute"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/subscriptions": {
      "post": {
        "operationId": "createSubscription",
        "summary": "Create a recurring charge schedule against a saved payment method",
        "description": "Creates the schedule only: no provider call is made and no money moves here. The customer must belong to this workspace and the payment method must be an active method of that customer. The call is idempotent on `(tenantId, idempotencyKey)` and answers 200 for an identical replay or 409 when the key was reused with a different request.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:subscriptions:write",
        "security": [
          {
            "oauth2": [
              "payments:subscriptions:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscription"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "200": {
            "description": "Equivalent idempotent replay of an existing idempotencyKey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "listSubscriptions",
        "summary": "List the subscriptions of one workspace",
        "description": "Keyset paging over `(createdAt DESC, id DESC)`. A `pageToken` is bound to the filter set that minted it; replaying it with different filters is refused with `INVALID_PAGE_TOKEN`.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:subscriptions:read",
        "security": [
          {
            "oauth2": [
              "payments:subscriptions:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SubscriptionStatus"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Maximum rows to return. Defaults to 25; the maximum is 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A `nextPageToken` this API issued for the identical filters. Tokens are server-issued, bound to the filter set that minted them, and are not caller-constructible.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSubscriptionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/subscriptions/{subscriptionId}": {
      "get": {
        "operationId": "getSubscription",
        "summary": "Read one subscription",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:subscriptions:read",
        "security": [
          {
            "oauth2": [
              "payments:subscriptions:read"
            ]
          }
        ],
        "x-tempera-resource-pattern": {
          "subscriptionId": "subscriptions/*"
        },
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/subscriptions/{subscriptionId}/cancel": {
      "post": {
        "operationId": "cancelSubscription",
        "summary": "Cancel a subscription",
        "description": "Terminal: an active, past-due, or paused subscription becomes `canceled` and nothing is ever due again. Canceling a canceled subscription is 409.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:subscriptions:write",
        "security": [
          {
            "oauth2": [
              "payments:subscriptions:write"
            ]
          }
        ],
        "x-tempera-resource-pattern": {
          "subscriptionId": "subscriptions/*"
        },
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionTransitionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The subscription after the transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/subscriptions/{subscriptionId}/pause": {
      "post": {
        "operationId": "pauseSubscription",
        "summary": "Pause a subscription",
        "description": "An active or past-due subscription becomes `paused` and is no longer claimed by the scheduler. Its `nextChargeAt` is preserved so resuming picks the schedule back up where it was. Pausing a paused or canceled subscription is 409.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:subscriptions:write",
        "security": [
          {
            "oauth2": [
              "payments:subscriptions:write"
            ]
          }
        ],
        "x-tempera-resource-pattern": {
          "subscriptionId": "subscriptions/*"
        },
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionTransitionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The subscription after the transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/subscriptions/{subscriptionId}/resume": {
      "post": {
        "operationId": "resumeSubscription",
        "summary": "Resume a paused subscription",
        "description": "A paused subscription becomes `active`. If its `nextChargeAt` is already in the past, the next scheduler pass charges it. Resuming anything but a paused subscription is 409.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:subscriptions:write",
        "security": [
          {
            "oauth2": [
              "payments:subscriptions:write"
            ]
          }
        ],
        "x-tempera-resource-pattern": {
          "subscriptionId": "subscriptions/*"
        },
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionTransitionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The subscription after the transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/subscriptions/{subscriptionId}/periods": {
      "get": {
        "operationId": "listSubscriptionPeriods",
        "summary": "List the billing periods of one subscription",
        "description": "Keyset paging over `(periodStart DESC, id DESC)`. A period reaches `settled` only once its payment intent has settled through the verified provider webhook path.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:subscriptions:read",
        "security": [
          {
            "oauth2": [
              "payments:subscriptions:read"
[...]
