{
  "openapi": "3.1.1",
  "info": {
    "title": "Tempera Payments API",
    "version": "0.1.0",
    "description": "A noncustodial payment-intent API. Atomic amounts are base-10 integer strings; decimal and floating-point money values are invalid. This contract is the producer source for tempera-sdk integration."
  },
  "servers": [{ "url": "https://payments.tempera.dev" }],
  "security": [{ "oauth2": ["payments:intents:write"] }],
  "paths": {
    "/v1/health": {
      "get": {
        "operationId": "getPaymentsHealth",
        "security": [],
        "responses": { "200": { "description": "Service is reachable" } }
      }
    },
    "/v1/payment_intents": {
      "post": {
        "operationId": "createPaymentIntent",
        "summary": "Create a canonical payment intent",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "parameters": [{
          "name": "Idempotency-Key",
          "in": "header",
          "required": true,
          "schema": { "type": "string", "minLength": 1, "maxLength": 255 }
        }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreatePaymentIntent" } } }
        },
        "responses": {
          "201": { "description": "Created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaymentIntent" } } } },
          "200": { "description": "Equivalent idempotent replay", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaymentIntent" } } } },
          "400": { "$ref": "#/components/responses/ApiError" },
          "401": { "$ref": "#/components/responses/ApiError" },
          "409": { "$ref": "#/components/responses/ApiError" }
        }
      }
    },
    "/v1/payment_intents/{payment_intent_id}": {
      "get": {
        "operationId": "getPaymentIntent",
        "summary": "Read the canonical payment-intent projection",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:read",
        "parameters": [
          { "name": "payment_intent_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "tenant_id", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1 } }
        ],
        "responses": {
          "200": { "description": "Canonical current projection", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaymentIntent" } } } },
          "401": { "$ref": "#/components/responses/ApiError" },
          "403": { "$ref": "#/components/responses/ApiError" },
          "404": { "$ref": "#/components/responses/ApiError" },
          "503": { "$ref": "#/components/responses/ApiError" }
        }
      }
    },
    "/v1/payment_intents/{payment_intent_id}/receipt": {
      "get": {
        "operationId": "getPaymentSettlementReceipt",
        "summary": "Read and cryptographically re-verify the canonical settlement receipt",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:receipts:read",
        "parameters": [
          { "name": "payment_intent_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "tenant_id", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1 } }
        ],
        "responses": {
          "200": { "description": "Verified signed settlement receipt", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SignedSettlementReceipt" } } } },
          "401": { "$ref": "#/components/responses/ApiError" },
          "403": { "$ref": "#/components/responses/ApiError" },
          "404": { "$ref": "#/components/responses/ApiError" },
          "500": { "$ref": "#/components/responses/ApiError" },
          "503": { "$ref": "#/components/responses/ApiError" }
        }
      }
    },
    "/v1/payment_intents/{payment_intent_id}/stripe_checkout": {
      "post": {
        "operationId": "createStripeCheckout",
        "summary": "Create an idempotent hosted Stripe Checkout session for a fiat payment intent",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "parameters": [
          { "name": "payment_intent_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string", "minLength": 1, "maxLength": 255 } }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateStripeCheckout" } } } },
        "responses": {
          "201": { "description": "Checkout session created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StripeCheckout" } } } },
          "200": { "description": "Equivalent idempotent replay", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StripeCheckout" } } } },
          "400": { "$ref": "#/components/responses/ApiError" },
          "401": { "$ref": "#/components/responses/ApiError" },
          "404": { "$ref": "#/components/responses/ApiError" },
          "409": { "$ref": "#/components/responses/ApiError" },
          "502": { "$ref": "#/components/responses/ApiError" },
          "503": { "$ref": "#/components/responses/ApiError" }
        }
      }
    },
    "/v1/payment_intents/{payment_intent_id}/card_session": {
      "post": {
        "operationId": "createCardSession",
        "summary": "Create a hosted/tokenizing card session with the selected configured acquirer",
        "description": "Routing occurs before provider tokenization. Tempera never accepts PAN or CVV in this API.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:intents:write",
        "parameters": [
          { "name": "payment_intent_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string", "minLength": 1, "maxLength": 255 } }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateCardCheckout" } } } },
        "responses": {
          "201": { "description": "Provider-hosted card session created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CardSession" } } } },
          "200": { "description": "Equivalent idempotent replay", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CardSession" } } } },
          "400": { "$ref": "#/components/responses/ApiError" },
          "401": { "$ref": "#/components/responses/ApiError" },
          "404": { "$ref": "#/components/responses/ApiError" },
          "409": { "$ref": "#/components/responses/ApiError" },
          "502": { "$ref": "#/components/responses/ApiError" },
          "503": { "$ref": "#/components/responses/ApiError" }
        }
      }
    },
    "/v1/merchants/workspace": {
      "get": {
        "operationId": "getMerchantWorkspace",
        "summary": "Recover the centrally authenticated workspace and optional merchant",
        "description": "Uses the current Auth Hub organization claim. No caller-supplied tenant identifier or public mobile configuration chooses the returned workspace.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:read",
        "responses": {
          "200": { "description": "Authenticated workspace and current merchant, if created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MerchantWorkspace" } } } },
          "401": { "$ref": "#/components/responses/ApiError" }, "403": { "$ref": "#/components/responses/ApiError" }, "503": { "$ref": "#/components/responses/ApiError" }
        }
      }
    },
    "/v1/merchants": {
      "get": {
        "operationId": "getWorkspaceMerchant",
        "summary": "Read the merchant onboarding projection for one workspace",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:read",
        "parameters": [{ "name": "tenant_id", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1, "maxLength": 128 } }],
        "responses": {
          "200": { "description": "Current merchant eligibility projection", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Merchant" } } } },
          "400": { "$ref": "#/components/responses/ApiError" }, "401": { "$ref": "#/components/responses/ApiError" }, "403": { "$ref": "#/components/responses/ApiError" }, "404": { "$ref": "#/components/responses/ApiError" }, "503": { "$ref": "#/components/responses/ApiError" }
        }
      },
      "post": {
        "operationId": "createMerchant",
        "summary": "Create the single US/USD merchant record for a workspace",
        "description": "Creates merchant onboarding state only. It does not prove incorporation, payment acceptance, or payout eligibility.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:write",
        "parameters": [{ "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string", "minLength": 1, "maxLength": 255, "pattern": "^[!-~]+$" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateMerchant" } } } },
        "responses": {
          "201": { "description": "Merchant created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Merchant" } } } },
          "200": { "description": "Equivalent idempotent replay", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Merchant" } } } },
          "400": { "$ref": "#/components/responses/ApiError" }, "401": { "$ref": "#/components/responses/ApiError" }, "403": { "$ref": "#/components/responses/ApiError" }, "409": { "$ref": "#/components/responses/ApiError" }, "503": { "$ref": "#/components/responses/ApiError" }
        }
      }
    },
    "/v1/merchants/{merchant_id}": {
      "get": {
        "operationId": "getMerchant",
        "summary": "Read a merchant onboarding projection",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:read",
        "parameters": [{ "name": "merchant_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }, { "name": "tenant_id", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1, "maxLength": 128 } }],
        "responses": {
          "200": { "description": "Current merchant eligibility projection", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Merchant" } } } },
          "400": { "$ref": "#/components/responses/ApiError" }, "401": { "$ref": "#/components/responses/ApiError" }, "403": { "$ref": "#/components/responses/ApiError" }, "404": { "$ref": "#/components/responses/ApiError" }, "503": { "$ref": "#/components/responses/ApiError" }
        }
      }
    },
    "/v1/merchants/{merchant_id}/refresh": {
      "post": {
        "operationId": "refreshMerchantEligibility",
        "summary": "Retrieve and store a fresh merchant eligibility observation",
        "description": "A provider observation is current only while its age is strictly less than 300 seconds. Refresh clears the prior eligibility projection before the provider call; a generation compare-and-set prevents a late response from an older refresh from overwriting a newer generation. An unavailable or malformed provider observation must not be treated as eligibility.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:read",
        "parameters": [{ "name": "merchant_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MerchantTenant" } } } },
        "responses": {
          "200": { "description": "Fresh merchant eligibility projection", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Merchant" } } } },
          "400": { "$ref": "#/components/responses/ApiError" }, "401": { "$ref": "#/components/responses/ApiError" }, "403": { "$ref": "#/components/responses/ApiError" }, "404": { "$ref": "#/components/responses/ApiError" }, "409": { "$ref": "#/components/responses/ApiError" }, "429": { "$ref": "#/components/responses/MerchantProviderRateLimited" }, "502": { "$ref": "#/components/responses/ApiError" }, "503": { "$ref": "#/components/responses/ApiError" }
        }
      }
    },
    "/v1/merchants/{merchant_id}/onboarding": {
      "post": {
        "operationId": "createMerchantOnboardingLink",
        "summary": "Create a short-lived Stripe-hosted merchant onboarding link",
        "description": "The URL is a bearer capability and must never be cached. If Stripe reports an expired link, request a new link with a new Idempotency-Key; do not replay an expired key.",
        "x-tempera-auth-kind": "oauthResource",
        "x-tempera-auth-audience": "tempera-payments",
        "x-tempera-required-scope": "payments:merchants:write",
        "parameters": [{ "name": "merchant_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }, { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string", "minLength": 1, "maxLength": 255, "pattern": "^[!-~]+$" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MerchantTenant" } } } },
        "responses": {
          "200": { "description": "Short-lived private onboarding link", "headers": { "Cache-Control": { "schema": { "type": "string", "const": "no-store" } }, "Referrer-Policy": { "schema": { "type": "string", "const": "no-referrer" } } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MerchantOnboardingLink" } } } },
          "400": { "$ref": "#/components/responses/ApiError" }, "401": { "$ref": "#/components/responses/ApiError" }, "403": { "$ref": "#/components/responses/ApiError" }, "404": { "$ref": "#/components/responses/ApiError" }, "409": { "$ref": "#/components/responses/ApiError" }, "429": { "$ref": "#/components/responses/MerchantProviderRateLimited" }, "502": { "$ref": "#/components/responses/ApiError" }, "503": { "$ref": "#/components/responses/ApiError" }
        }
      }
    },
    "/v1/webhooks/stripe": {
      "post": {
        "operationId": "receiveStripeWebhook",
        "summary": "Verify and durably deduplicate a Stripe webhook using its raw body",
        "security": [],
        "parameters": [{ "name": "Stripe-Signature", "in": "header", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "200": { "description": "Durably accepted or duplicate" }, "400": { "$ref": "#/components/responses/ApiError" }, "503": { "$ref": "#/components/responses/ApiError" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": { "authorizationCode": { "authorizationUrl": "https://api.tempera.dev/oauth/authorize", "tokenUrl": "https://api.tempera.dev/oauth/token", "scopes": { "payments:intents:write": "Create payment intents", "payments:intents:read": "Read payment intents", "payments:receipts:read": "Read verified payment settlement receipts", "payments:merchants:read": "Read merchant onboarding eligibility", "payments:merchants:write": "Create merchant onboarding records and links" } } }
      }
    },
    "schemas": {
      "AtomicAmount": { "type": "string", "pattern": "^[0-9]+$", "description": "Non-negative atomic integer. Never a decimal." },
      "AssetId": { "type": "object", "required": ["network", "reference", "decimals"], "properties": { "network": { "type": "string", "examples": ["eip155:8453"] }, "reference": { "type": "string", "examples": ["0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"] }, "decimals": { "type": "integer", "minimum": 0, "maximum": 255 } } },
      "CreatePaymentIntent": { "type": "object", "additionalProperties": false, "required": ["tenant_id", "merchant_id", "risk_subject_id", "recipient", "asset", "amount", "expires_in_seconds"], "properties": { "tenant_id": { "type": "string" }, "merchant_id": { "type": "string" }, "risk_subject_id": { "type": "string", "description": "Pre-registered Tempera Risk subject ID for deterministic authorization." }, "recipient": { "type": "string" }, "asset": { "$ref": "#/components/schemas/AssetId" }, "amount": { "$ref": "#/components/schemas/AtomicAmount" }, "expires_in_seconds": { "type": "integer", "minimum": 1, "maximum": 86400 } } },
      "PaymentIntent": { "type": "object", "additionalProperties": false, "required": ["id", "tenant_id", "merchant_id", "recipient", "asset", "amount", "policy_decision_id", "status", "version", "expires_at"], "properties": { "id": { "type": "string", "format": "uuid" }, "tenant_id": { "type": "string" }, "merchant_id": { "type": "string" }, "recipient": { "type": "string" }, "asset": { "$ref": "#/components/schemas/AssetId" }, "amount": { "$ref": "#/components/schemas/AtomicAmount" }, "policy_decision_id": { "type": "string" }, "status": { "type": "string", "enum": ["CREATED", "RISK_PENDING", "AUTHORIZED", "PREPARED", "SIGNED", "BROADCAST", "OBSERVED", "CONFIRMED", "FINALIZED", "DENIED", "HELD", "REVIEW_REQUIRED", "FAILED", "EXPIRED", "REVERSED", "REFUND_PENDING", "REFUNDED"] }, "version": { "type": "integer", "minimum": 0 }, "expires_at": { "type": "string", "format": "date-time" } } },
      "CreateStripeCheckout": { "type": "object", "additionalProperties": false, "required": ["tenant_id", "currency", "product_name", "success_url", "cancel_url"], "properties": { "tenant_id": { "type": "string" }, "currency": { "type": "string", "pattern": "^[A-Za-z]{3}$", "examples": ["usd"] }, "product_name": { "type": "string", "minLength": 1, "maxLength": 255 }, "success_url": { "type": "string", "format": "uri", "pattern": "^https://" }, "cancel_url": { "type": "string", "format": "uri", "pattern": "^https://" } } },
      "StripeCheckout": { "type": "object", "additionalProperties": false, "required": ["stripe_session_id", "checkout_url"], "properties": { "stripe_session_id": { "type": "string" }, "checkout_url": { "type": "string", "format": "uri" } } },
      "CardAcquirer": { "type": "string", "enum": ["adyen", "checkout_com"] },
      "CardBillingAddress": {
        "type": "object",
        "additionalProperties": false,
        "required": ["address_line1", "city", "zip", "country"],
        "properties": {
          "address_line1": { "type": "string", "minLength": 1, "maxLength": 255 },
          "city": { "type": "string", "minLength": 1, "maxLength": 255 },
          "state": { "type": ["string", "null"], "maxLength": 255 },
          "zip": { "type": "string", "minLength": 1, "maxLength": 255 },
          "country": { "type": "string", "pattern": "^[A-Za-z]{2}$" }
        }
      },
      "CreateCardCheckout": {
        "type": "object",
        "additionalProperties": false,
        "required": ["tenant_id", "acquirer", "success_url", "failure_url", "billing"],
        "properties": {
          "tenant_id": { "type": "string", "minLength": 1 },
          "acquirer": { "$ref": "#/components/schemas/CardAcquirer" },
          "success_url": { "type": "string", "format": "uri", "pattern": "^https://" },
          "failure_url": { "type": "string", "format": "uri", "pattern": "^https://" },
          "billing": { "$ref": "#/components/schemas/CardBillingAddress" }
        }
      },
      "CardSession": {
        "type": "object",
        "additionalProperties": false,
        "required": ["acquirer", "provider_session_id", "client_payload"],
        "properties": {
          "acquirer": { "$ref": "#/components/schemas/CardAcquirer" },
          "provider_session_id": { "type": "string", "minLength": 1 },
          "client_payload": { "type": "object", "description": "Provider-issued payload passed to the selected provider's hosted/tokenizing frontend component. It contains no caller-supplied PAN/CVV fields." }
        }
      },
      "MerchantCategory": { "type": "string", "enum": ["physical_goods", "offline_services"], "description": "The limited initial merchant categories; this is not a general marketplace taxonomy." },
      "CreateMerchant": { "type": "object", "additionalProperties": false, "required": ["tenant_id", "country", "currency", "category"], "properties": { "tenant_id": { "type": "string", "minLength": 1, "maxLength": 128 }, "country": { "type": "string", "const": "US" }, "currency": { "type": "string", "const": "usd" }, "category": { "$ref": "#/components/schemas/MerchantCategory" } } },
      "MerchantTenant": { "type": "object", "additionalProperties": false, "required": ["tenant_id"], "properties": { "tenant_id": { "type": "string", "minLength": 1, "maxLength": 128 } } },
      "MerchantWorkspace": { "type": "object", "additionalProperties": false, "required": ["tenant_id", "merchant"], "properties": { "tenant_id": { "type": "string", "minLength": 1, "maxLength": 128 }, "merchant": { "anyOf": [{ "$ref": "#/components/schemas/Merchant" }, { "type": "null" }] } } },
      "MerchantNextAction": { "type": "string", "enum": ["start_onboarding", "continue_onboarding", "refresh_requirements", "wait_for_provider", "contact_support", "ready"] },
      "Merchant": { "type": "object", "additionalProperties": false, "required": ["id", "tenant_id", "country", "currency", "category", "workspace_ready", "payments_enabled", "payouts_enabled", "action_required", "requirements_current", "currently_due", "past_due", "pending_verification", "disabled_reason", "next_action", "provider_observed_at"], "properties": { "id": { "type": "string", "format": "uuid" }, "tenant_id": { "type": "string" }, "country": { "type": "string", "const": "US" }, "currency": { "type": "string", "const": "usd" }, "category": { "$ref": "#/components/schemas/MerchantCategory" }, "workspace_ready": { "type": "boolean" }, "payments_enabled": { "type": "boolean", "description": "False unless a current provider observation demonstrates enabled card payments." }, "payouts_enabled": { "type": "boolean", "description": "False unless a current provider observation demonstrates enabled payouts." }, "action_required": { "type": "boolean" }, "requirements_current": { "type": "boolean", "description": "False when the provider observation is absent, stale, future-dated, or has age greater than or equal to 300 seconds." }, "currently_due": { "type": "array", "items": { "type": "string" } }, "past_due": { "type": "array", "items": { "type": "string" } }, "pending_verification": { "type": "array", "items": { "type": "string" } }, "disabled_reason": { "type": ["string", "null"] }, "next_action": { "$ref": "#/components/schemas/MerchantNextAction" }, "provider_observed_at": { "type": ["integer", "null"], "format": "int64", "description": "Provider observation Unix timestamp in seconds, or null when no provider observation exists." } } },
      "MerchantOnboardingLink": { "type": "object", "additionalProperties": false, "required": ["merchant_id", "url", "expires_at"], "properties": { "merchant_id": { "type": "string", "format": "uuid" }, "url": { "type": "string", "format": "uri", "pattern": "^https://connect\\.stripe\\.com/", "description": "Short-lived bearer URL. Do not persist, cache, or log it." }, "expires_at": { "type": "integer", "format": "int64", "description": "Unix timestamp in seconds." } } },
      "SettlementEvidence": {
        "type": "object",
        "additionalProperties": false,
        "required": ["schema_version", "receipt_id", "payment_intent_id", "request_hash", "policy_decision_id", "asset", "amount", "recipient", "transaction_id", "finality", "observed_at", "key_id", "signature"],
        "properties": {
          "schema_version": { "type": "integer", "minimum": 1 },
          "receipt_id": { "type": "string", "format": "uuid" },
          "payment_intent_id": { "type": "string", "format": "uuid" },
          "request_hash": { "type": "string", "pattern": "^[0-9a-f]{64}$" },
          "policy_decision_id": { "type": "string", "minLength": 1 },
          "asset": { "$ref": "#/components/schemas/AssetId" },
          "amount": { "$ref": "#/components/schemas/AtomicAmount" },
          "recipient": { "type": "string", "minLength": 1 },
          "transaction_id": { "type": "string", "minLength": 1 },
          "finality": { "type": "string", "minLength": 1 },
          "observed_at": { "type": "string", "format": "date-time" },
          "key_id": { "type": "string", "minLength": 1 },
          "signature": { "type": "string", "minLength": 1 }
        }
      },
      "SignedSettlementReceipt": {
        "type": "object",
        "additionalProperties": false,
        "required": ["evidence", "algorithm", "public_key_hex"],
        "properties": {
          "evidence": { "$ref": "#/components/schemas/SettlementEvidence" },
          "algorithm": { "type": "string", "enum": ["Ed25519"] },
          "public_key_hex": { "type": "string", "pattern": "^[0-9a-f]{64}$" }
        }
      },
      "Error": { "type": "object", "required": ["code", "message"], "properties": { "code": { "type": "string" }, "message": { "type": "string" } } }
    },
    "responses": { "ApiError": { "description": "Normalized API error", "content": { "application/json": { "schema": { "type": "object", "required": ["error"], "properties": { "error": { "$ref": "#/components/schemas/Error" } } } } } }, "MerchantProviderRateLimited": { "description": "Hourly per-merchant provider budget exhausted; error.code is merchant_provider_rate_limited.", "content": { "application/json": { "schema": { "type": "object", "required": ["error"], "properties": { "error": { "$ref": "#/components/schemas/Error" } } } } } } }
  }
}
